{
    "name": "Default Macbeth",
    "colors": {
        "focusBorder": "#22232A00",
        "foreground": "#EEE4DD",
        "disabledForeground": "#282A33",
        "widget.border": "#1B1C22",
        "widget.shadow": "#1B1C2200",
        "selection.background": "#282A33",
        "descriptionForeground": "#EEE4DD",
        "errorForeground": "#FF8E85",
        "icon.foreground": "#FFE2F2",
        "sash.hoverBorder": "#282A33",
        "window.activeBorder": "#1B1C22",
        "window.inactiveBorder": "#1B1C22",
        "textBlockQuote.background": "#1B1C22",
        "textBlockQuote.border": "#1B1C2200",
        "textCodeBlock.background": "#282A33",
        "textLink.activeForeground": "#FFCCE8",
        "textLink.foreground": "#FFE2F2",
        "textPreformat.foreground": "#EEE4DD",
        "textPreformat.background": "#1B1C22",
        "textSeparator.foreground": "#282A33",
        "toolbar.hoverBackground": "#282A33",
        "toolbar.hoverOutline": "#282A3300",
        "toolbar.activeBackground": "#31333F",
        "button.background": "#FFE2F2",
        "button.foreground": "#1B1C22",
        "button.border": "#1B1C2200",
        "button.separator": "#1B1C22",
        "button.hoverBackground": "#FFCCE8",
        "button.secondaryForeground": "#1B1C22",
        "button.secondaryBackground": "#FFCCE8",
        "button.secondaryHoverBackground": "#FFE2F2",
        "checkbox.background": "#282A33",
        "checkbox.foreground": "#EEE4DD",
        "checkbox.border": "#D5C5B8",
        "checkbox.selectBorder": "#D5C5B8",
        "checkbox.selectBackground": "#282A33",
        "dropdown.background": "#22232A",
        "dropdown.listBackground": "#22232A",
        "dropdown.border": "#282A33",
        "dropdown.foreground": "#EEE4DD",
        "input.background": "#1B1C22",
        "input.border": "#31333F",
        "input.foreground": "#EEE4DD",
        "input.placeholderForeground": "#706A66",
        "inputOption.activeBackground": "#31333F",
        "inputOption.activeBorder": "#31333F00",
        "inputOption.activeForeground": "#FFE2F2",
        "inputOption.hoverBackground": "#31333F",
        "inputValidation.errorBackground": "#FF8E85C0",
        "inputValidation.errorForeground": "#EEE4DD",
        "inputValidation.errorBorder": "#FF8E85",
        "inputValidation.infoBackground": "#FFCCE8C0",
        "inputValidation.infoForeground": "#EEE4DD",
        "inputValidation.infoBorder": "#FFCCE8",
        "inputValidation.warningBackground": "#D5C5B8C0",
        "inputValidation.warningForeground": "#EEE4DD",
        "inputValidation.warningBorder": "#D5C5B8",
        "scrollbar.shadow": "#1B1C2200",
        "scrollbarSlider.activeBackground": "#282A33",
        "scrollbarSlider.background": "#22232A",
        "scrollbarSlider.hoverBackground": "#282A33",
        "badge.background": "#FFE2F2",
        "badge.foreground": "#1B1C22",
        "progressBar.background": "#FFE2F2",
        "list.activeSelectionBackground": "#22232A",
        "list.activeSelectionForeground": "#FFE2F2",
        "list.activeSelectionIconForeground": "#FFE2F2",
        "list.dropBackground": "#282A33",
        "list.focusBackground": "#22232A",
        "list.focusForeground": "#FFE2F2",
        "list.focusHighlightForeground": "#FFCCE8",
        "list.focusOutline": "#1B1C2200",
        "list.focusAndSelectionOutline": "#1B1C2200",
        "list.highlightForeground": "#FFE2F2",
        "list.hoverBackground": "#1B1C22",
        "list.hoverForeground": "#EEE4DD",
        "list.inactiveSelectionBackground": "#1B1C22",
        "list.inactiveSelectionForeground": "#FFE2F2",
        "list.inactiveSelectionIconForeground": "#FFE2F2",
        "list.inactiveFocusBackground": "#1B1C22",
        "list.inactiveFocusOutline": "#1B1C2200",
        "list.invalidItemForeground": "#F3F6F4",
        "list.errorForeground": "#FF8E85",
        "list.warningForeground": "#D5C5B8",
        "listFilterWidget.background": "#1B1C22",
        "listFilterWidget.outline": "#1B1C2200",
        "listFilterWidget.noMatchesOutline": "#F3F6F4",
        "listFilterWidget.shadow": "#1B1C2200",
        "list.filterMatchBackground": "#FFE2F250",
        "list.filterMatchBorder": "#1B1C2200",
        "list.deemphasizedForeground": "#706A66",
        "list.dropBetweenBackground": "#282A33",
        "tree.indentGuidesStroke": "#31333F",
        "tree.inactiveIndentGuidesStroke": "#282A33",
        "tree.tableColumnsBorder": "#31333F",
        "tree.tableOddRowsBackground": "#22232A",
        "activityBar.background": "#1B1C22",
        "activityBar.dropBorder": "#282A33",
        "activityBar.foreground": "#FFE2F2",
        "activityBar.inactiveForeground": "#D5C5B8",
        "activityBar.border": "#282A33",
        "activityBarBadge.background": "#FFE2F2",
        "activityBarBadge.foreground": "#1B1C22",
        "activityBar.activeBorder": "#1B1C2200",
        "activityBar.activeBackground": "#22232A",
        "activityBar.activeFocusBorder": "#22232A00",
        "activityBarTop.foreground": "#FFE2F2",
        "activityBarTop.activeBorder": "#1B1C2200",
        "activityBarTop.inactiveForeground": "#706A66",
        "activityBarTop.dropBorder": "#282A33",
        "profileBadge.background": "#282A33",
        "profileBadge.foreground": "#EEE4DD",
        "sideBar.background": "#1B1C22",
        "sideBar.foreground": "#D5C5B8",
        "sideBar.border": "#282A33",
        "sideBar.dropBackground": "#282A33",
        "sideBarTitle.foreground": "#EEE4DD",
        "sideBarSectionHeader.background": "#1B1C22",
        "sideBarSectionHeader.foreground": "#EEE4DD",
        "sideBarSectionHeader.border": "#282A33",
        "minimap.findMatchHighlight": "#FFE2F2C0",
        "minimap.selectionHighlight": "#D5C5B8C0",
        "minimap.errorHighlight": "#FF8E85",
        "minimap.warningHighlight": "#D5C5B8",
        "minimap.background": "#22232A",
        "minimap.selectionOccurrenceHighlight": "#706A66DC",
        "minimap.foregroundOpacity": "#000000DC",
        "minimap.infoHighlight": "#FFCCE8",
        "minimapSlider.background": "#22232A80",
        "minimapSlider.hoverBackground": "#22232A80",
        "minimapSlider.activeBackground": "#22232A80",
        "minimapGutter.addedBackground": "#FFCCE8",
        "minimapGutter.modifiedBackground": "#D5C5B8",
        "minimapGutter.deletedBackground": "#FF8E85",
        "editorGroup.border": "#282A33",
        "editorGroup.dropBackground": "#22232A",
        "editorGroupHeader.noTabsBackground": "#1B1C22",
        "editorGroupHeader.tabsBackground": "#1B1C22",
        "editorGroupHeader.tabsBorder": "#282A33",
        "editorGroupHeader.border": "#282A33",
        "editorGroup.emptyBackground": "#1B1C22",
        "editorGroup.focusedEmptyBorder": "#282A3300",
        "editorGroup.dropIntoPromptForeground": "#EEE4DD",
        "editorGroup.dropIntoPromptBackground": "#22232A",
        "editorGroup.dropIntoPromptBorder": "#22232A00",
        "tab.activeBackground": "#1B1C22",
        "tab.unfocusedActiveBackground": "#1B1C22",
        "tab.activeForeground": "#FFE2F2",
        "tab.border": "#1B1C22",
        "tab.activeBorder": "#282A3300",
        "tab.dragAndDropBorder": "#31333F",
        "tab.unfocusedActiveBorder": "#282A3300",
        "tab.activeBorderTop": "#282A3300",
        "tab.unfocusedActiveBorderTop": "#282A3300",
        "tab.lastPinnedBorder": "#282A33",
        "tab.inactiveBackground": "#1B1C22",
        "tab.unfocusedInactiveBackground": "#1B1C22",
        "tab.inactiveForeground": "#D5C5B8",
        "tab.unfocusedActiveForeground": "#FFE2F2",
        "tab.unfocusedInactiveForeground": "#706A66",
        "tab.hoverBackground": "#22232A",
        "tab.unfocusedHoverBackground": "#22232A",
        "tab.hoverForeground": "#EEE4DD",
        "tab.unfocusedHoverForeground": "#EEE4DD",
        "tab.hoverBorder": "#22232A00",
        "tab.unfocusedHoverBorder": "#22232A00",
        "tab.activeModifiedBorder": "#22232A00",
        "tab.inactiveModifiedBorder": "#22232A00",
        "tab.unfocusedActiveModifiedBorder": "#22232A00",
        "tab.unfocusedInactiveModifiedBorder": "#22232A00",
        "editorPane.background": "#1B1C22",
        "sideBySideEditor.horizontalBorder": "#22232A",
        "sideBySideEditor.verticalBorder": "#22232A",
        "editor.background": "#1B1C22",
        "editor.foreground": "#EEE4DD",
        "editorLineNumber.foreground": "#31333F",
        "editorLineNumber.activeForeground": "#FFE2F2",
        "editorLineNumber.dimmedForeground": "#282A33",
        "editorCursor.background": "#22232A",
        "editorCursor.foreground": "#FFE2F2",
        "editor.selectionBackground": "#31333F",
        "editor.selectionForeground": "#EEE4DD",
        "editor.inactiveSelectionBackground": "#31333F85",
        "editor.selectionHighlightBackground": "#31333F85",
        "editor.selectionHighlightBorder": "#31333F00",
        "editor.wordHighlightBackground": "#31333F80",
        "editor.wordHighlightBorder": "#FFE2F200",
        "editor.wordHighlightStrongBackground": "#31333FD0",
        "editor.wordHighlightStrongBorder": "#FFCCE800",
        "editor.wordHighlightTextBackground": "#31333FD0",
        "editor.wordHighlightTextBorder": "#31333F",
        "editor.findMatchBackground": "#1B1C2200",
        "editor.findMatchHighlightBackground": "#1B1C2200",
        "editor.findRangeHighlightBackground": "#1B1C2200",
        "editor.findMatchBorder": "#FFE2F2",
        "editor.findMatchHighlightBorder": "#D5C5B8",
        "editor.findRangeHighlightBorder": "#D5C5B8C0",
        "search.resultsInfoForeground": "#706A66",
        "searchEditor.findMatchBackground": "#1B1C22",
        "searchEditor.findMatchBorder": "#FFE2F2",
        "searchEditor.textInputBorder": "#282A33",
        "editor.hoverHighlightBackground": "#31333FD0",
        "editor.lineHighlightBackground": "#22232A",
        "editor.lineHighlightBorder": "#22232A00",
        "editorWatermark.foreground": "#EEE4DD",
        "editorUnicodeHighlight.border": "#FFE2F2",
        "editorUnicodeHighlight.background": "#1B1C22",
        "editorLink.activeForeground": "#FFE2F2",
        "editor.rangeHighlightBackground": "#31333FD0",
        "editor.rangeHighlightBorder": "#31333F00",
        "editor.symbolHighlightBackground": "#31333FD0",
        "editor.symbolHighlightBorder": "#31333F00",
        "editorWhitespace.foreground": "#31333F",
        "editorIndentGuide.background1": "#282A33",
        "editorIndentGuide.background2": "#282A33",
        "editorIndentGuide.background3": "#282A33",
        "editorIndentGuide.background4": "#282A33",
        "editorIndentGuide.background5": "#282A33",
        "editorIndentGuide.background6": "#282A33",
        "editorIndentGuide.activeBackground1": "#31333F",
        "editorIndentGuide.activeBackground2": "#31333F",
        "editorIndentGuide.activeBackground3": "#31333F",
        "editorIndentGuide.activeBackground4": "#31333F",
        "editorIndentGuide.activeBackground5": "#31333F",
        "editorIndentGuide.activeBackground6": "#31333F",
        "editorInlayHint.background": "#1B1C2200",
        "editorInlayHint.foreground": "#31333F",
        "editorInlayHint.typeForeground": "#31333F",
        "editorInlayHint.typeBackground": "#1B1C2200",
        "editorInlayHint.parameterForeground": "#31333F",
        "editorInlayHint.parameterBackground": "#1B1C2200",
        "editorRuler.foreground": "#22232A",
        "editor.linkedEditingBackground": "#282A33",
        "editorCodeLens.foreground": "#706A66",
        "editorLightBulb.foreground": "#FFE2F2",
        "editorLightBulbAutoFix.foreground": "#FFE2F2",
        "editorLightBulbAi.foreground": "#FFE2F2",
        "editorBracketMatch.background": "#31333F",
        "editorBracketMatch.border": "#31333F00",
        "editorBracketHighlight.foreground1": "#FFE2F2",
        "editorBracketHighlight.foreground2": "#FFE2F2",
        "editorBracketHighlight.foreground3": "#FFE2F2",
        "editorBracketHighlight.foreground4": "#FFE2F2",
        "editorBracketHighlight.foreground5": "#FFE2F2",
        "editorBracketHighlight.foreground6": "#FFE2F2",
        "editorBracketHighlight.unexpectedBracket.foreground": "#FF8E85",
        "editorBracketPairGuide.background1": "#282A33",
        "editorBracketPairGuide.background2": "#282A33",
        "editorBracketPairGuide.background3": "#282A33",
        "editorBracketPairGuide.background4": "#282A33",
        "editorBracketPairGuide.background5": "#282A33",
        "editorBracketPairGuide.background6": "#282A33",
        "editorBracketPairGuide.activeBackground1": "#31333F",
        "editorBracketPairGuide.activeBackground2": "#31333F",
        "editorBracketPairGuide.activeBackground3": "#31333F",
        "editorBracketPairGuide.activeBackground4": "#31333F",
        "editorBracketPairGuide.activeBackground5": "#31333F",
        "editorBracketPairGuide.activeBackground6": "#31333F",
        "editor.foldBackground": "#22232A90",
        "editorOverviewRuler.background": "#1B1C22",
        "editorOverviewRuler.border": "#282A33",
        "editorOverviewRuler.findMatchForeground": "#FFE2F2D0",
        "editorOverviewRuler.rangeHighlightForeground": "#D5C5B8D0",
        "editorOverviewRuler.selectionHighlightForeground": "#FFE2F2E0",
        "editorOverviewRuler.wordHighlightForeground": "#FFE2F2D0",
        "editorOverviewRuler.wordHighlightStrongForeground": "#FFE2F2D0",
        "editorOverviewRuler.wordHighlightTextForeground": "#FFE2F2D0",
        "editorOverviewRuler.modifiedForeground": "#FFCCE8",
        "editorOverviewRuler.addedForeground": "#FFE2F2",
        "editorOverviewRuler.deletedForeground": "#F3F6F4",
        "editorOverviewRuler.errorForeground": "#FF8E85",
        "editorOverviewRuler.warningForeground": "#D5C5B8",
        "editorOverviewRuler.infoForeground": "#FFE2F2",
        "editorOverviewRuler.bracketMatchForeground": "#D5C5B8",
        "editorOverviewRuler.inlineChatInserted": "#FFE2F2",
        "editorOverviewRuler.inlineChatRemoved": "#F3F6F4",
        "editorError.foreground": "#FF8E85",
        "editorError.border": "#FF8E8500",
        "editorError.background": "#FF8E8500",
        "editorWarning.foreground": "#D5C5B8",
        "editorWarning.border": "#D5C5B800",
        "editorWarning.background": "#D5C5B800",
        "editorInfo.foreground": "#FFE2F2",
        "editorInfo.border": "#FFE2F200",
        "editorInfo.background": "#FFE2F200",
        "editorHint.foreground": "#FFE2F2",
        "editorHint.border": "#FFE2F200",
        "problemsErrorIcon.foreground": "#FF8E85",
        "problemsWarningIcon.foreground": "#D5C5B8",
        "problemsInfoIcon.foreground": "#FFE2F2",
        "editorUnnecessaryCode.border": "#706A6600",
        "editorUnnecessaryCode.opacity": "#000000C0",
        "editorGutter.background": "#1B1C22",
        "editorGutter.modifiedBackground": "#FFE2F2",
        "editorGutter.addedBackground": "#FFE2F2",
        "editorGutter.deletedBackground": "#F3F6F4",
        "editorGutter.commentRangeForeground": "#FFE2F2",
        "editorGutter.commentGlyphForeground": "#FFE2F2",
        "editorGutter.commentUnresolvedGlyphForeground": "#F3F6F4",
        "editorGutter.foldingControlForeground": "#FFE2F2",
        "editorCommentsWidget.resolvedBorder": "#1B1C2200",
        "editorCommentsWidget.unresolvedBorder": "#1B1C2200",
        "editorCommentsWidget.rangeBackground": "#22232A",
        "editorCommentsWidget.rangeActiveBackground": "#282A33",
        "editorCommentsWidget.replyInputBackground": "#1B1C22",
        "diffEditor.insertedTextBackground": "#FFE2F220",
        "diffEditor.insertedTextBorder": "#FFE2F200",
        "diffEditor.removedTextBackground": "#FF8E8520",
        "diffEditor.removedTextBorder": "#FF8E8500",
        "diffEditor.border": "#282A33",
        "diffEditor.diagonalFill": "#31333F",
        "diffEditor.insertedLineBackground": "#FFE2F220",
        "diffEditor.removedLineBackground": "#FF8E8520",
        "diffEditorGutter.insertedLineBackground": "#1B1C22",
        "diffEditorGutter.removedLineBackground": "#1B1C22",
        "diffEditorOverview.insertedForeground": "#EEE4DD",
        "diffEditorOverview.removedForeground": "#EEE4DD",
        "diffEditor.unchangedRegionBackground": "#1B1C22",
        "diffEditor.unchangedRegionForeground": "#EEE4DD",
        "diffEditor.unchangedRegionShadow": "#1B1C2200",
        "diffEditor.unchangedCodeBackground": "#1B1C22",
        "diffEditor.move.border": "#282A33",
        "diffEditor.moveActive.border": "#FFE2F2",
        "multiDiffEditor.headerBackground": "#22232A",
        "multiDiffEditor.background": "#1B1C22",
        "multiDiffEditor.border": "#282A33",
        "chat.requestBorder": "#282A33",
        "chat.requestBackground": "#1B1C22",
        "chat.slashCommandBackground": "#1B1C22",
        "chat.slashCommandForeground": "#FFE2F2",
        "chat.avatarBackground": "#1B1C22",
        "chat.avatarForeground": "#FFE2F2",
        "inlineChat.background": "#22232A",
        "inlineChat.border": "#1B1C2200",
        "inlineChat.shadow": "#1B1C2200",
        "inlineChat.regionHighlight": "#FFE2F250",
        "inlineChatInput.border": "#31333F",
        "inlineChatInput.focusBorder": "#31333F",
        "inlineChatInput.placeholderForeground": "#706A66",
        "inlineChatInput.background": "#1B1C22",
        "inlineChatDiff.inserted": "#FFE2F220",
        "inlineChatDiff.removed": "#FF8E8520",
        "interactive.activeCodeBorder": "#FFE2F2",
        "interactive.inactiveCodeBorder": "#706A66",
        "editorWidget.foreground": "#EEE4DD",
        "editorWidget.background": "#22232A",
        "editorWidget.border": "#22232A00",
        "editorWidget.resizeBorder": "#22232A",
        "editorSuggestWidget.background": "#22232A",
        "editorSuggestWidget.border": "#22232A00",
        "editorSuggestWidget.foreground": "#EEE4DD",
        "editorSuggestWidget.focusHighlightForeground": "#FFE2F2",
        "editorSuggestWidget.highlightForeground": "#FFE2F2",
        "editorSuggestWidget.selectedBackground": "#282A33",
        "editorSuggestWidget.selectedForeground": "#FFE2F2",
        "editorSuggestWidget.selectedIconForeground": "#FFE2F2",
        "editorSuggestWidgetStatus.foreground": "#D5C5B8",
        "editorHoverWidget.foreground": "#EEE4DD",
        "editorHoverWidget.background": "#22232A",
        "editorHoverWidget.border": "#22232A00",
        "editorHoverWidget.highlightForeground": "#FFE2F2",
        "editorHoverWidget.statusBarBackground": "#22232A",
        "editorGhostText.border": "#1B1C2200",
        "editorGhostText.background": "#1B1C22",
        "editorGhostText.foreground": "#31333F",
        "editorStickyScroll.background": "#1B1C22",
        "editorStickyScroll.border": "#282A33",
        "editorStickyScroll.shadow": "#1B1C2200",
        "editorStickyScrollHover.background": "#22232A",
        "debugExceptionWidget.background": "#22232A",
        "debugExceptionWidget.border": "#22232A00",
        "editorMarkerNavigation.background": "#1B1C22",
        "editorMarkerNavigationError.background": "#282A33",
        "editorMarkerNavigationWarning.background": "#282A33",
        "editorMarkerNavigationInfo.background": "#282A33",
        "editorMarkerNavigationError.headerBackground": "#1B1C22",
        "editorMarkerNavigationWarning.headerBackground": "#1B1C22",
        "editorMarkerNavigationInfo.headerBackground": "#1B1C22",
        "peekView.border": "#282A33",
        "peekViewEditor.background": "#1B1C22",
        "peekViewEditorGutter.background": "#1B1C22",
        "peekViewEditor.matchHighlightBackground": "#1B1C22",
        "peekViewEditor.matchHighlightBorder": "#FFE2F2",
        "peekViewEditorStickyScroll.background": "#1B1C22",
        "peekViewResult.background": "#1B1C22",
        "peekViewResult.fileForeground": "#EEE4DD",
        "peekViewResult.lineForeground": "#EEE4DD",
        "peekViewResult.matchHighlightBackground": "#FFE2F250",
        "peekViewResult.selectionBackground": "#282A33",
        "peekViewResult.selectionForeground": "#EEE4DD",
        "peekViewTitle.background": "#1B1C22",
        "peekViewTitleDescription.foreground": "#FFE2F2",
        "peekViewTitleLabel.foreground": "#EEE4DD",
        "merge.currentHeaderBackground": "#FFE2F2A0",
        "merge.currentContentBackground": "#FFE2F230",
        "merge.incomingHeaderBackground": "#FFE2F2B0",
        "merge.incomingContentBackground": "#FFE2F240",
        "merge.border": "#282A33",
        "merge.commonContentBackground": "#FFE2F240",
        "merge.commonHeaderBackground": "#FFE2F2C0",
        "editorOverviewRuler.currentContentForeground": "#FFE2F2",
        "editorOverviewRuler.incomingContentForeground": "#FFE2F2",
        "editorOverviewRuler.commonContentForeground": "#FFE2F2",
        "editorOverviewRuler.commentForeground": "#EEE4DD",
        "editorOverviewRuler.commentUnresolvedForeground": "#F3F6F4",
        "mergeEditor.change.background": "#FFE2F2",
        "mergeEditor.change.word.background": "#FFE2F2",
        "mergeEditor.conflict.unhandledUnfocused.border": "#FF8E85",
        "mergeEditor.conflict.unhandledFocused.border": "#FF8E85",
        "mergeEditor.conflict.handledUnfocused.border": "#FFE2F2",
        "mergeEditor.conflict.handledFocused.border": "#FFE2F2",
        "mergeEditor.conflict.handled.minimapOverViewRuler": "#FFE2F2",
        "mergeEditor.conflict.unhandled.minimapOverViewRuler": "#FF8E85",
        "mergeEditor.conflictingLines.background": "#FF8E85",
        "mergeEditor.changeBase.background": "#FFE2F2",
        "mergeEditor.changeBase.word.background": "#FFE2F2",
        "mergeEditor.conflict.input1.background": "#282A33",
        "mergeEditor.conflict.input2.background": "#282A33",
        "panel.background": "#1B1C22",
        "panel.border": "#282A33",
        "panel.dropBorder": "#282A33",
        "panelTitle.activeBorder": "#1B1C2200",
        "panelTitle.activeForeground": "#FFE2F2",
        "panelTitle.inactiveForeground": "#D5C5B8",
        "panelInput.border": "#282A33",
        "panelSection.border": "#282A33",
        "panelSection.dropBackground": "#22232A",
        "panelSectionHeader.background": "#1B1C22",
        "panelSectionHeader.foreground": "#EEE4DD",
        "panelSectionHeader.border": "#282A33",
        "outputView.background": "#1B1C22",
        "outputViewStickyScroll.background": "#1B1C22",
        "statusBar.background": "#1B1C22",
        "statusBar.foreground": "#D5C5B8",
        "statusBar.border": "#282A33",
        "statusBar.debuggingBackground": "#1B1C22",
        "statusBar.debuggingForeground": "#D5C5B8",
        "statusBar.debuggingBorder": "#282A33",
        "statusBar.noFolderBackground": "#1B1C22",
        "statusBar.noFolderForeground": "#D5C5B8",
        "statusBar.noFolderBorder": "#282A33",
        "statusBarItem.activeBackground": "#1B1C22",
        "statusBarItem.hoverForeground": "#FFE2F2",
        "statusBarItem.hoverBackground": "#282A33",
        "statusBarItem.prominentForeground": "#EEE4DD",
        "statusBarItem.prominentBackground": "#1B1C22",
        "statusBarItem.prominentHoverForeground": "#FFE2F2",
        "statusBarItem.prominentHoverBackground": "#282A33",
        "statusBarItem.remoteBackground": "#1B1C22",
        "statusBarItem.remoteForeground": "#D5C5B8",
        "statusBarItem.remoteHoverBackground": "#282A33",
        "statusBarItem.remoteHoverForeground": "#FFE2F2",
        "statusBarItem.errorBackground": "#1B1C22",
        "statusBarItem.errorForeground": "#F3F6F4",
        "statusBarItem.errorHoverBackground": "#282A33",
        "statusBarItem.errorHoverForeground": "#FF8E85",
        "statusBarItem.warningBackground": "#1B1C22",
        "statusBarItem.warningForeground": "#D5C5B8",
        "statusBarItem.warningHoverBackground": "#282A33",
        "statusBarItem.warningHoverForeground": "#D5C5B8",
        "statusBarItem.compactHoverBackground": "#282A33",
        "statusBarItem.focusBorder": "#1B1C2200",
        "statusBar.focusBorder": "#282A33",
        "statusBarItem.offlineBackground": "#1B1C22",
        "statusBarItem.offlineForeground": "#706A66",
        "statusBarItem.offlineHoverBackground": "#282A33",
        "statusBarItem.offlineHoverForeground": "#F3F6F4",
        "titleBar.activeForeground": "#D5C5B8",
        "titleBar.inactiveForeground": "#706A66",
        "titleBar.activeBackground": "#1B1C22",
        "titleBar.inactiveBackground": "#1B1C22",
        "titleBar.border": "#282A33",
        "menubar.selectionForeground": "#FFE2F2",
        "menubar.selectionBackground": "#22232A",
        "menubar.selectionBorder": "#22232A00",
        "menu.foreground": "#EEE4DD",
        "menu.background": "#1B1C22",
        "menu.selectionForeground": "#FFE2F2",
        "menu.selectionBackground": "#22232A",
        "menu.selectionBorder": "#22232A00",
        "menu.separatorBackground": "#282A3300",
        "menu.border": "#282A33",
        "commandCenter.foreground": "#EEE4DD",
        "commandCenter.activeForeground": "#FFE2F2",
        "commandCenter.background": "#1B1C22",
        "commandCenter.activeBackground": "#22232A",
        "commandCenter.border": "#31333F",
        "commandCenter.inactiveForeground": "#706A66",
        "commandCenter.inactiveBorder": "#31333F",
        "commandCenter.activeBorder": "#31333F",
        "commandCenter.debuggingBackground": "#1B1C2280",
        "notificationCenter.border": "#1B1C2200",
        "notificationCenterHeader.foreground": "#EEE4DD",
        "notificationCenterHeader.background": "#282A33",
        "notificationToast.border": "#1B1C2200",
        "notifications.foreground": "#EEE4DD",
        "notifications.background": "#282A33",
        "notifications.border": "#1B1C2200",
        "notificationLink.foreground": "#FFE2F2",
        "notificationsErrorIcon.foreground": "#FF8E85",
        "notificationsWarningIcon.foreground": "#D5C5B8",
        "notificationsInfoIcon.foreground": "#FFE2F2",
        "banner.background": "#282A33",
        "banner.foreground": "#EEE4DD",
        "banner.iconForeground": "#FFE2F2",
        "extensionButton.prominentBackground": "#FFE2F2",
        "extensionButton.prominentForeground": "#1B1C22",
        "extensionButton.prominentHoverBackground": "#FFCCE8",
        "extensionButton.background": "#FFE2F2",
        "extensionButton.foreground": "#1B1C22",
        "extensionButton.hoverBackground": "#FFCCE8",
        "extensionButton.separator": "#1B1C22",
        "extensionBadge.remoteBackground": "#FFE2F2",
        "extensionBadge.remoteForeground": "#1B1C22",
        "extensionIcon.starForeground": "#FFE2F2DF",
        "extensionIcon.verifiedForeground": "#FFE2F2DF",
        "extensionIcon.preReleaseForeground": "#D5C5B8EF",
        "extensionIcon.sponsorForeground": "#FFE2F2DF",
        "pickerGroup.border": "#31333F",
        "pickerGroup.foreground": "#D5C5B8",
        "quickInput.background": "#22232A",
        "quickInput.foreground": "#EEE4DD",
        "quickInputList.focusBackground": "#282A33",
        "quickInputList.focusForeground": "#FFE2F2",
        "quickInputList.focusIconForeground": "#FFE2F2",
        "quickInputTitle.background": "#D5C5B8",
        "keybindingLabel.background": "#31333F",
        "keybindingLabel.foreground": "#EEE4DD",
        "keybindingLabel.border": "#31333F00",
        "keybindingLabel.bottomBorder": "#31333F00",
        "keybindingTable.headerBackground": "#22232A",
        "keybindingTable.rowsBackground": "#22232A",
        "terminal.background": "#1B1C22",
        "terminal.border": "#282A33",
        "terminal.foreground": "#EEE4DD",
        "terminal.ansiBrightBlack": "#D5C5B8",
        "terminal.ansiBrightBlue": "#E3FAFF",
        "terminal.ansiBrightCyan": "#D7E2DC",
        "terminal.ansiBrightGreen": "#F3F6F4",
        "terminal.ansiBrightMagenta": "#FFE2F2",
        "terminal.ansiBrightRed": "#FFD9D6",
        "terminal.ansiBrightWhite": "#EEE4DD",
        "terminal.ansiBrightYellow": "#FFE5DA",
        "terminal.ansiBlack": "#706A66",
        "terminal.ansiBlue": "#BCE7F1",
        "terminal.ansiCyan": "#A4CBC9",
        "terminal.ansiGreen": "#D7EADE",
        "terminal.ansiMagenta": "#FFCCE8",
        "terminal.ansiRed": "#FF8E85",
        "terminal.ansiWhite": "#EEE4DD",
        "terminal.ansiYellow": "#FFD7BC",
        "terminal.selectionBackground": "#282A33",
        "terminal.selectionForeground": "#EEE4DD",
        "terminal.inactiveSelectionBackground": "#282A33",
        "terminal.findMatchBackground": "#1B1C2200",
        "terminal.findMatchBorder": "#FFE2F2",
        "terminal.findMatchHighlightBackground": "#1B1C2200",
        "terminal.findMatchHighlightBorder": "#FFE2F2",
        "terminal.hoverHighlightBackground": "#1B1C2200",
        "terminalCursor.background": "#1B1C22",
        "terminalCursor.foreground": "#FFE2F2",
        "terminal.dropBackground": "#22232A90",
        "terminal.tab.activeBorder": "#22232A00",
        "terminalCommandDecoration.defaultBackground": "#FFE2F2",
        "terminalCommandDecoration.successBackground": "#FFE2F2",
        "terminalCommandDecoration.errorBackground": "#FF8E85",
        "terminalOverviewRuler.cursorForeground": "#FFE2F2",
        "terminalOverviewRuler.findMatchForeground": "#FFE2F2",
        "terminalStickyScroll.background": "#1B1C22",
        "terminalStickyScrollHover.background": "#22232A",
        "debugToolBar.background": "#282A33",
        "debugToolBar.border": "#282A3300",
        "editor.stackFrameHighlightBackground": "#FFE2F240",
        "editor.focusedStackFrameHighlightBackground": "#FFE2F260",
        "editor.inlineValuesForeground": "#FFE2F2",
        "editor.inlineValuesBackground": "#FFE2F240",
        "debugView.exceptionLabelForeground": "#FF8E85",
        "debugView.exceptionLabelBackground": "#FF8E8540",
        "debugView.stateLabelForeground": "#D5C5B8",
        "debugView.stateLabelBackground": "#D5C5B840",
        "debugView.valueChangedHighlight": "#FFE2F240",
        "debugTokenExpression.name": "#FFCCE8",
        "debugTokenExpression.value": "#FFE2F2",
        "debugTokenExpression.string": "#F3F6F4",
        "debugTokenExpression.boolean": "#FFE2F2",
        "debugTokenExpression.number": "#FFE2F2",
        "debugTokenExpression.error": "#FF8E85",
        "testing.iconFailed": "#FF8E85",
        "testing.iconErrored": "#F3F6F4",
        "testing.iconPassed": "#FFE2F2",
        "testing.runAction": "#FFE2F2",
        "testing.iconQueued": "#FFE2F2",
        "testing.iconUnset": "#FFE2F2",
        "testing.iconSkipped": "#FFE2F2",
        "testing.peekBorder": "#22232A",
        "testing.peekHeaderBackground": "#FFE2F2",
        "testing.message.error.decorationForeground": "#FF8E85",
        "testing.message.error.lineBackground": "#FF8E85",
        "testing.message.info.decorationForeground": "#FFE2F2",
        "testing.message.info.lineBackground": "#FFE2F2",
        "testing.messagePeekBorder": "#282A33",
        "testing.messagePeekHeaderBackground": "#1B1C22",
        "testing.coveredBackground": "#FFE2F220",
        "testing.coveredBorder": "#1B1C2200",
        "testing.coveredGutterBackground": "#1B1C22",
        "testing.uncoveredBranchBackground": "#1B1C22",
        "testing.uncoveredBackground": "#FF8E8520",
        "testing.uncoveredBorder": "#1B1C2200",
        "testing.uncoveredGutterBackground": "#1B1C22",
        "testing.coverCountBadgeBackground": "#FFE2F2",
        "testing.coverCountBadgeForeground": "#1B1C22",
        "welcomePage.background": "#1B1C22",
        "welcomePage.progress.background": "#282A33",
        "welcomePage.progress.foreground": "#FFE2F2",
        "welcomePage.tileBackground": "#22232A",
        "welcomePage.tileHoverBackground": "#282A33",
        "welcomePage.tileBorder": "#22232A00",
        "walkThrough.embeddedEditorBackground": "#1B1C22",
        "walkthrough.stepTitle.foreground": "#EEE4DD",
        "gitDecoration.addedResourceForeground": "#FFE2F2",
        "gitDecoration.modifiedResourceForeground": "#FFCCE8",
        "gitDecoration.deletedResourceForeground": "#F3F6F4",
        "gitDecoration.renamedResourceForeground": "#FFE2F2",
        "gitDecoration.stageModifiedResourceForeground": "#FFE2F2",
        "gitDecoration.stageDeletedResourceForeground": "#F3F6F4",
        "gitDecoration.untrackedResourceForeground": "#D5C5B8",
        "gitDecoration.ignoredResourceForeground": "#706A66",
        "gitDecoration.conflictingResourceForeground": "#F3F6F4",
        "gitDecoration.submoduleResourceForeground": "#FFCCE8",
        "settings.headerForeground": "#EEE4DD",
        "settings.modifiedItemIndicator": "#FFE2F2",
        "settings.dropdownBackground": "#1B1C22",
        "settings.dropdownForeground": "#EEE4DD",
        "settings.dropdownBorder": "#282A33",
        "settings.dropdownListBorder": "#282A33",
        "settings.checkboxBackground": "#1B1C22",
        "settings.checkboxForeground": "#FFE2F2",
        "settings.checkboxBorder": "#282A33",
        "settings.rowHoverBackground": "#22232A",
        "settings.textInputBackground": "#1B1C22",
        "settings.textInputForeground": "#EEE4DD",
        "settings.textInputBorder": "#282A33",
        "settings.numberInputBackground": "#1B1C22",
        "settings.numberInputForeground": "#FFE2F2",
        "settings.numberInputBorder": "#282A33",
        "settings.focusedRowBackground": "#1B1C22",
        "settings.focusedRowBorder": "#22232A",
        "settings.headerBorder": "#282A3300",
        "settings.sashBorder": "#282A33",
        "settings.settingsHeaderHoverForeground": "#FFE2F2",
        "breadcrumb.foreground": "#706A66",
        "breadcrumb.background": "#1B1C22",
        "breadcrumb.focusForeground": "#FFE2F2",
        "breadcrumb.activeSelectionForeground": "#FFE2F2",
        "breadcrumbPicker.background": "#22232A",
        "editor.snippetTabstopHighlightBackground": "#1B1C22",
        "editor.snippetTabstopHighlightBorder": "#FFE2F2",
        "editor.snippetFinalTabstopHighlightBackground": "#1B1C22",
        "editor.snippetFinalTabstopHighlightBorder": "#FFE2F2",
        "symbolIcon.arrayForeground": "#EEE4DD",
        "symbolIcon.booleanForeground": "#FFE2F2",
        "symbolIcon.classForeground": "#FFE2F2",
        "symbolIcon.colorForeground": "#EEE4DD",
        "symbolIcon.constantForeground": "#EEE4DD",
        "symbolIcon.constructorForeground": "#FFE2F2",
        "symbolIcon.enumeratorForeground": "#FFE2F2",
        "symbolIcon.enumeratorMemberForeground": "#FFE2F2",
        "symbolIcon.eventForeground": "#EEE4DD",
        "symbolIcon.fieldForeground": "#EEE4DD",
        "symbolIcon.fileForeground": "#EEE4DD",
        "symbolIcon.folderForeground": "#EEE4DD",
        "symbolIcon.functionForeground": "#FFCCE8",
        "symbolIcon.interfaceForeground": "#FFE2F2",
        "symbolIcon.keyForeground": "#EEE4DD",
        "symbolIcon.keywordForeground": "#FFE2F2",
        "symbolIcon.methodForeground": "#FFCCE8",
        "symbolIcon.moduleForeground": "#FFE2F2",
        "symbolIcon.namespaceForeground": "#FFE2F2",
        "symbolIcon.nullForeground": "#FFE2F2",
        "symbolIcon.numberForeground": "#FFE2F2",
        "symbolIcon.objectForeground": "#FFE2F2",
        "symbolIcon.operatorForeground": "#D5C5B8",
        "symbolIcon.packageForeground": "#FFE2F2",
        "symbolIcon.propertyForeground": "#EEE4DD",
        "symbolIcon.referenceForeground": "#EEE4DD",
        "symbolIcon.snippetForeground": "#EEE4DD",
        "symbolIcon.stringForeground": "#F3F6F4",
        "symbolIcon.structForeground": "#FFE2F2",
        "symbolIcon.textForeground": "#EEE4DD",
        "symbolIcon.typeParameterForeground": "#FFE2F2",
        "symbolIcon.unitForeground": "#EEE4DD",
        "symbolIcon.variableForeground": "#EEE4DD",
        "debugIcon.breakpointForeground": "#FF8E85",
        "debugIcon.breakpointDisabledForeground": "#D5C5B8",
        "debugIcon.breakpointUnverifiedForeground": "#D5C5B8",
        "debugIcon.breakpointCurrentStackframeForeground": "#FFCCE8",
        "debugIcon.breakpointStackframeForeground": "#FFE2F2",
        "debugIcon.startForeground": "#FFE2F2",
        "debugIcon.pauseForeground": "#FFE2F2",
        "debugIcon.stopForeground": "#FF8E85",
        "debugIcon.disconnectForeground": "#F3F6F4",
        "debugIcon.restartForeground": "#FFE2F2",
        "debugIcon.stepOverForeground": "#FFE2F2",
        "debugIcon.stepIntoForeground": "#FFE2F2",
        "debugIcon.stepOutForeground": "#FFE2F2",
        "debugIcon.continueForeground": "#FFE2F2",
        "debugIcon.stepBackForeground": "#FFE2F2",
        "debugConsole.infoForeground": "#FFE2F2",
        "debugConsole.warningForeground": "#D5C5B8",
        "debugConsole.errorForeground": "#FF8E85",
        "debugConsole.sourceForeground": "#EEE4DD",
        "debugConsoleInputIcon.foreground": "#FFE2F2",
        "notebook.editorBackground": "#1B1C22",
        "notebook.cellBorderColor": "#282A33",
        "notebook.cellHoverBackground": "#1B1C2200",
        "notebook.cellInsertionIndicator": "#282A33",
        "notebook.cellStatusBarItemHoverBackground": "#282A33",
        "notebook.cellToolbarSeparator": "#31333F",
        "notebook.cellEditorBackground": "#1B1C22",
        "notebook.focusedCellBackground": "#1B1C22",
        "notebook.focusedCellBorder": "#FFE2F2",
        "notebook.focusedEditorBorder": "#282A33",
        "notebook.inactiveFocusedCellBorder": "#FFE2F2",
        "notebook.inactiveSelectedCellBorder": "#FFE2F2",
        "notebook.outputContainerBackgroundColor": "#1B1C22",
        "notebook.outputContainerBorderColor": "#1B1C2200",
        "notebook.selectedCellBackground": "#1B1C22",
        "notebook.selectedCellBorder": "#282A33",
        "notebook.symbolHighlightBackground": "#1B1C22",
        "notebookScrollbarSlider.activeBackground": "#282A33",
        "notebookScrollbarSlider.background": "#22232A",
        "notebookScrollbarSlider.hoverBackground": "#282A33",
        "notebookStatusErrorIcon.foreground": "#FF8E85",
        "notebookStatusRunningIcon.foreground": "#BCE7F1",
        "notebookStatusSuccessIcon.foreground": "#D7EADE",
        "notebookEditorOverviewRuler.runningCellForeground": "#BCE7F1",
        "charts.foreground": "#EEE4DD",
        "charts.lines": "#D5C5B8",
        "charts.red": "#FF8E85",
        "charts.blue": "#BCE7F1",
        "charts.yellow": "#FFD7BC",
        "charts.orange": "#FFD7BC",
        "charts.green": "#D7EADE",
        "charts.purple": "#FFCCE8",
        "ports.iconRunningProcessForeground": "#FFE2F2",
        "commentsView.resolvedIcon": "#FFE2F2",
        "commentsView.unresolvedIcon": "#F3F6F4",
        "actionBar.toggledBackground": "#1B1C22",
        "simpleFindWidget.sashBorder": "#22232A00",
        "scm.historyItemAdditionsForeground": "#FFE2F2",
        "scm.historyItemDeletionsForeground": "#F3F6F4",
        "scm.historyItemStatisticsBorder": "#22232A00",
        "scm.historyItemSelectedStatisticsBorder": "#22232A00",
        "errorLens.errorBackground": "#FF8E8520",
        "errorLens.errorForeground": "#FF8E85",
        "errorLens.errorMessageBackground": "#FF8E8520",
        "errorLens.errorRangeBackground": "#FF8E8520",
        "errorLens.warningBackground": "#FFD7BC20",
        "errorLens.warningForeground": "#FFD7BC",
        "errorLens.warningMessageBackground": "#FFD7BC20",
        "errorLens.warningRangeBackground": "#FFD7BC20",
        "errorLens.infoBackground": "#BCE7F120",
        "errorLens.infoForeground": "#BCE7F1",
        "errorLens.infoMessageBackground": "#BCE7F120",
        "errorLens.infoRangeBackground": "#BCE7F120",
        "errorLens.hintBackground": "#FFCCE820",
        "errorLens.hintForeground": "#FFCCE8",
        "errorLens.hintMessageBackground": "#FFCCE820",
        "errorLens.hintRangeBackground": "#FFCCE820",
        "errorLens.statusBarErrorForeground": "#FF8E85",
        "errorLens.statusBarWarningForeground": "#FFD7BC",
        "errorLens.statusBarInfoForeground": "#BCE7F1",
        "errorLens.statusBarHintForeground": "#FFCCE8",
        "errorLens.statusBarIconErrorForeground": "#FF8E85",
        "errorLens.statusBarIconWarningForeground": "#FFD7BC"
    },
    "semanticHighlighting": true,
    "semanticTokenColors": {
        "namespace": {
            "foreground": "#{{colour_2}}",
            "fontStyle": ""
        },
        "module": {
            "foreground": "#{{colour_2}}",
            "fontStyle": ""
        },
        "class": {
            "foreground": "#{{colour_1}}",
            "fontStyle": ""
        },
        "enum": {
            "foreground": "#{{colour_1}}",
            "fontStyle": ""
        },
        "interface": {
            "foreground": "#{{colour_1}}",
            "fontStyle": ""
        },
        "struct": {
            "foreground": "#{{colour_1}}",
            "fontStyle": ""
        },
        "typeParameter": {
            "foreground": "#{{colour_1}}",
            "fontStyle": ""
        },
        "type": {
            "foreground": "#{{colour_1}}",
            "fontStyle": ""
        },
        "parameter": {
            "foreground": "#{{colour_2}}",
            "fontStyle": ""
        },
        "variable": {
            "foreground": "#{{colour_2}}",
            "fontStyle": ""
        },
        "property": {
            "foreground": "#{{colour_2}}",
            "fontStyle": ""
        },
        "enumMember": {
            "foreground": "#{{colour_1}}",
            "fontStyle": ""
        },
        "decorator": {
            "foreground": "#{{colour_1}}",
            "fontStyle": ""
        },
        "event": {
            "foreground": "#{{colour_1}}",
            "fontStyle": ""
        },
        "function": {
            "foreground": "#{{colour_1}}",
            "fontStyle": "bold italic"
        },
        "method": {
            "foreground": "#{{colour_1}}",
            "fontStyle": "bold italic"
        },
        "macro": {
            "foreground": "#{{colour_1}}",
            "fontStyle": "bold"
        },
        "label": {
            "foreground": "#FF8E85",
            "fontStyle": ""
        },
        "comment": {
            "foreground": "#706A66",
            "fontStyle": "italic"
        },
        "string": {
            "foreground": "#FFD9D6",
            "fontStyle": ""
        },
        "escapeSequence": {
            "foreground": "#FF8E85",
            "fontStyle": ""
        },
        "keyword": {
            "foreground": "#FF8E85",
            "fontStyle": "italic"
        },
        "modifier": {
            "foreground": "#FF8E85",
            "fontStyle": ""
        },
        "number": {
            "foreground": "#FFE2F2",
            "fontStyle": ""
        },
        "regexp": {
            "foreground": "#{{colour_1}}",
            "fontStyle": ""
        },
        "operator": {
            "foreground": "#FF8E85",
            "fontStyle": ""
        },
        "builtinConstant": {
            "foreground": "#FFE2F2",
            "fontStyle": ""
        },
        "selfParameter": {
            "foreground": "#{{colour_2}}",
            "fontStyle": ""
        },
        "function.decorator": {
            "fontStyle": "bold italic"
        },
        "*.decorator": {
            "fontStyle": "italic"
        }
    },
    "tokenColors": [
        {
            "name": "Default Source",
            "scope": [
                "text",
                "source"
            ],
            "settings": {
                "foreground": "#{{colour_2}}",
                "fontStyle": ""
            }
        },
        {
            "name": "Alternate Source",
            "scope": [
                "source.zig",
                "source.lua",
                "source.asp"
            ],
            "settings": {
                "foreground": "#706A66",
                "fontStyle": ""
            }
        },
        {
            "name": "Default Variable",
            "scope": [
                "variable",
                "variable.other",
                "variable.parameter",
                "support.variable",
                "meta.attribute",
                "meta.function-call.arguments",
                "entity.other.attribute"
            ],
            "settings": {
                "foreground": "#{{colour_2}}",
                "fontStyle": ""
            }
        },
        {
            "name": "Default Macro",
            "scope": [
                "entity.name.function.macro"
            ],
            "settings": {
                "foreground": "#{{colour_2}}",
                "fontStyle": "bold"
            }
        },
        {
            "name": "Default Punctuation",
            "scope": [
                "punctuation",
                "punctuation.definition",
                "punctuation.section",
                "punctuation.section.parameters",
                "punctuation.section.block",
                "punctuation.support",
                "punctuation.separator",
                "punctuation.terminator",
                "punctuation.accessor",
                "meta.brace",
                "meta.directive",
                "meta.expression"
            ],
            "settings": {
                "foreground": "#706A66",
                "fontStyle": ""
            }
        },
        {
            "name": "Default Directive",
            "scope": [
                "punctuation.definition.directive"
            ],
            "settings": {
                "foreground": "#706A66",
                "fontStyle": "italic"
            }
        },
        {
            "name": "Default Decorator",
            "scope": [
                "punctuation.definition.decorator"
            ],
            "settings": {
                "foreground": "#706A66",
                "fontStyle": "italic"
            }
        },
        {
            "name": "Default Comment",
            "scope": [
                "comment",
                "comment.line",
                "comment.block",
                "punctuation.definition.comment"
            ],
            "settings": {
                "foreground": "#706A66",
                "fontStyle": "italic"
            }
        },
        {
            "name": "Default String",
            "scope": [
                "string",
                "string.quoted.single",
                "string.quoted.double",
                "string.quoted.triple",
                "string.interpolated"
            ],
            "settings": {
                "foreground": "#FFD9D6",
                "fontStyle": ""
            }
        },
        {
            "name": "Default Specifier",
            "scope": [
                "storage.type.string",
                "constant.character.format",
                "constant.other.placeholder"
            ],
            "settings": {
                "foreground": "#FF8E85",
                "fontStyle": ""
            }
        },
        {
            "name": "Default Escape",
            "scope": [
                "constant.character.escape"
            ],
            "settings": {
                "foreground": "#FF8E85",
                "fontStyle": ""
            }
        },
        {
            "name": "Default Keyword",
            "scope": [
                "keyword",
                "keyword.control",
                "keyword.other"
            ],
            "settings": {
                "foreground": "#FF8E85",
                "fontStyle": "italic"
            }
        },
        {
            "name": "Default Operator",
            "scope": [
                "keyword.operator"
            ],
            "settings": {
                "foreground": "#FF8E85",
                "fontStyle": ""
            }
        },
        {
            "name": "Default Storage Type",
            "scope": [
                "storage.type",
                "storage.type.class",
                "storage.type.function",
                "storage.modifier",
                "storage.modifier.declaration"
            ],
            "settings": {
                "foreground": "#FF8E85",
                "fontStyle": "italic"
            }
        },
        {
            "name": "Default Primitive",
            "scope": [
                "storage.type.primitive",
                "storage.type.built-in.primitive"
            ],
            "settings": {
                "foreground": "#FF8E85",
                "fontStyle": ""
            }
        },
        {
            "name": "Default Placeholder",
            "scope": [
                "storage.type.format",
                "constant.other.placeholder"
            ],
            "settings": {
                "foreground": "#FF8E85",
                "fontStyle": ""
            }
        },
        {
            "name": "Default Storage Modifier",
            "scope": [
                "storage.modifier",
                "storage.modifier.declaration"
            ],
            "settings": {
                "foreground": "#FF8E85",
                "fontStyle": ""
            }
        },
        {
            "name": "Default Storage Array Modifier",
            "scope": [
                "storage.modifier.array"
            ],
            "settings": {
                "foreground": "#706A66",
                "fontStyle": ""
            }
        },
        {
            "name": "Default Support Type",
            "scope": [
                "support.type"
            ],
            "settings": {
                "foreground": "#FF8E85",
                "fontStyle": ""
            }
        },
        {
            "name": "Default Constant",
            "scope": [
                "constant",
                "constant.language",
                "constant.other",
                "constant.numeric",
                "support.constant"
            ],
            "settings": {
                "foreground": "#FFE2F2",
                "fontStyle": ""
            }
        },
        {
            "name": "Default Type",
            "scope": [
                "entity",
                "entity.other",
                "entity.name",
                "entity.name.type",
                "entity.name.class",
                "entity.name.struct"
            ],
            "settings": {
                "foreground": "#{{colour_1}}",
                "fontStyle": ""
            }
        },
        {
            "name": "Default Function",
            "scope": [
                "meta.function",
                "meta.function-call",
                "entity.name.function",
                "support.function"
            ],
            "settings": {
                "foreground": "#{{colour_1}}",
                "fontStyle": "bold italic"
            }
        },
        {
            "name": "Default Module",
            "scope": [
                "entity.name.type.class.module"
            ],
            "settings": {
                "foreground": "#{{colour_2}}",
                "fontStyle": ""
            }
        },
        {
            "name": "Default Namespace",
            "scope": [
                "entity.name.namespace"
            ],
            "settings": {
                "foreground": "#{{colour_2}}",
                "fontStyle": ""
            }
        },
        {
            "name": "Default Tag",
            "scope": [
                "entity.name.tag"
            ],
            "settings": {
                "foreground": "#FF8E85",
                "fontStyle": ""
            }
        }
    ]
}
