{
    "name": "Default Macbeth",
    "colors": {
        "focusBorder": "#{{background_3}}00",
        "foreground": "#{{foreground_1}}",
        "disabledForeground": "#{{background_2}}",
        "widget.border": "#{{background_4}}",
        "widget.shadow": "#{{background_4}}00",
        "selection.background": "#{{background_2}}",
        "descriptionForeground": "#{{foreground_1}}",
        "errorForeground": "#{{red_2}}",
        "icon.foreground": "#{{purple_1}}",
        "sash.hoverBorder": "#{{background_2}}",
        "window.activeBorder": "#{{background_4}}",
        "window.inactiveBorder": "#{{background_4}}",
        "textBlockQuote.background": "#{{background_4}}",
        "textBlockQuote.border": "#{{background_4}}00",
        "textCodeBlock.background": "#{{background_2}}",
        "textLink.activeForeground": "#{{purple_2}}",
        "textLink.foreground": "#{{purple_1}}",
        "textPreformat.foreground": "#{{foreground_1}}",
        "textPreformat.background": "#{{background_4}}",
        "textSeparator.foreground": "#{{background_2}}",
        "toolbar.hoverBackground": "#{{background_2}}",
        "toolbar.hoverOutline": "#{{background_2}}00",
        "toolbar.activeBackground": "#{{background_1}}",
        "button.background": "#{{purple_1}}",
        "button.foreground": "#{{background_4}}",
        "button.border": "#{{background_4}}00",
        "button.separator": "#{{background_4}}",
        "button.hoverBackground": "#{{purple_2}}",
        "button.secondaryForeground": "#{{background_4}}",
        "button.secondaryBackground": "#{{purple_2}}",
        "button.secondaryHoverBackground": "#{{purple_1}}",
        "checkbox.background": "#{{background_2}}",
        "checkbox.foreground": "#{{foreground_1}}",
        "checkbox.border": "#{{foreground_2}}",
        "checkbox.selectBorder": "#{{foreground_2}}",
        "checkbox.selectBackground": "#{{background_2}}",
        "dropdown.background": "#{{background_3}}",
        "dropdown.listBackground": "#{{background_3}}",
        "dropdown.border": "#{{background_2}}",
        "dropdown.foreground": "#{{foreground_1}}",
        "input.background": "#{{background_4}}",
        "input.border": "#{{background_1}}",
        "input.foreground": "#{{foreground_1}}",
        "input.placeholderForeground": "#{{foreground_3}}",
        "inputOption.activeBackground": "#{{background_1}}",
        "inputOption.activeBorder": "#{{background_1}}00",
        "inputOption.activeForeground": "#{{purple_1}}",
        "inputOption.hoverBackground": "#{{background_1}}",
        "inputValidation.errorBackground": "#{{red_2}}C0",
        "inputValidation.errorForeground": "#{{foreground_1}}",
        "inputValidation.errorBorder": "#{{red_2}}",
        "inputValidation.infoBackground": "#{{purple_2}}C0",
        "inputValidation.infoForeground": "#{{foreground_1}}",
        "inputValidation.infoBorder": "#{{purple_2}}",
        "inputValidation.warningBackground": "#{{foreground_2}}C0",
        "inputValidation.warningForeground": "#{{foreground_1}}",
        "inputValidation.warningBorder": "#{{foreground_2}}",
        "scrollbar.shadow": "#{{background_4}}00",
        "scrollbarSlider.activeBackground": "#{{background_2}}",
        "scrollbarSlider.background": "#{{background_3}}",
        "scrollbarSlider.hoverBackground": "#{{background_2}}",
        "badge.background": "#{{purple_1}}",
        "badge.foreground": "#{{background_4}}",
        "progressBar.background": "#{{purple_1}}",
        "list.activeSelectionBackground": "#{{background_3}}",
        "list.activeSelectionForeground": "#{{purple_1}}",
        "list.activeSelectionIconForeground": "#{{purple_1}}",
        "list.dropBackground": "#{{background_2}}",
        "list.focusBackground": "#{{background_3}}",
        "list.focusForeground": "#{{purple_1}}",
        "list.focusHighlightForeground": "#{{purple_2}}",
        "list.focusOutline": "#{{background_4}}00",
        "list.focusAndSelectionOutline": "#{{background_4}}00",
        "list.highlightForeground": "#{{purple_1}}",
        "list.hoverBackground": "#{{background_4}}",
        "list.hoverForeground": "#{{foreground_1}}",
        "list.inactiveSelectionBackground": "#{{background_4}}",
        "list.inactiveSelectionForeground": "#{{purple_1}}",
        "list.inactiveSelectionIconForeground": "#{{purple_1}}",
        "list.inactiveFocusBackground": "#{{background_4}}",
        "list.inactiveFocusOutline": "#{{background_4}}00",
        "list.invalidItemForeground": "#{{green_1}}",
        "list.errorForeground": "#{{red_2}}",
        "list.warningForeground": "#{{foreground_2}}",
        "listFilterWidget.background": "#{{background_4}}",
        "listFilterWidget.outline": "#{{background_4}}00",
        "listFilterWidget.noMatchesOutline": "#{{green_1}}",
        "listFilterWidget.shadow": "#{{background_4}}00",
        "list.filterMatchBackground": "#{{purple_1}}50",
        "list.filterMatchBorder": "#{{background_4}}00",
        "list.deemphasizedForeground": "#{{foreground_3}}",
        "list.dropBetweenBackground": "#{{background_2}}",
        "tree.indentGuidesStroke": "#{{background_1}}",
        "tree.inactiveIndentGuidesStroke": "#{{background_2}}",
        "tree.tableColumnsBorder": "#{{background_1}}",
        "tree.tableOddRowsBackground": "#{{background_3}}",
        "activityBar.background": "#{{background_4}}",
        "activityBar.dropBorder": "#{{background_2}}",
        "activityBar.foreground": "#{{purple_1}}",
        "activityBar.inactiveForeground": "#{{foreground_2}}",
        "activityBar.border": "#{{background_2}}",
        "activityBarBadge.background": "#{{purple_1}}",
        "activityBarBadge.foreground": "#{{background_4}}",
        "activityBar.activeBorder": "#{{background_4}}00",
        "activityBar.activeBackground": "#{{background_3}}",
        "activityBar.activeFocusBorder": "#{{background_3}}00",
        "activityBarTop.foreground": "#{{purple_1}}",
        "activityBarTop.activeBorder": "#{{background_4}}00",
        "activityBarTop.inactiveForeground": "#{{foreground_3}}",
        "activityBarTop.dropBorder": "#{{background_2}}",
        "profileBadge.background": "#{{background_2}}",
        "profileBadge.foreground": "#{{foreground_1}}",
        "sideBar.background": "#{{background_4}}",
        "sideBar.foreground": "#{{foreground_2}}",
        "sideBar.border": "#{{background_2}}",
        "sideBar.dropBackground": "#{{background_2}}",
        "sideBarTitle.foreground": "#{{foreground_1}}",
        "sideBarSectionHeader.background": "#{{background_4}}",
        "sideBarSectionHeader.foreground": "#{{foreground_1}}",
        "sideBarSectionHeader.border": "#{{background_2}}",
        "minimap.findMatchHighlight": "#{{purple_1}}C0",
        "minimap.selectionHighlight": "#{{foreground_2}}C0",
        "minimap.errorHighlight": "#{{red_2}}",
        "minimap.warningHighlight": "#{{foreground_2}}",
        "minimap.background": "#{{background_3}}",
        "minimap.selectionOccurrenceHighlight": "#{{foreground_3}}DC",
        "minimap.foregroundOpacity": "#000000DC",
        "minimap.infoHighlight": "#{{purple_2}}",
        "minimapSlider.background": "#{{background_3}}80",
        "minimapSlider.hoverBackground": "#{{background_3}}80",
        "minimapSlider.activeBackground": "#{{background_3}}80",
        "minimapGutter.addedBackground": "#{{purple_2}}",
        "minimapGutter.modifiedBackground": "#{{foreground_2}}",
        "minimapGutter.deletedBackground": "#{{red_2}}",
        "editorGroup.border": "#{{background_2}}",
        "editorGroup.dropBackground": "#{{background_3}}",
        "editorGroupHeader.noTabsBackground": "#{{background_4}}",
        "editorGroupHeader.tabsBackground": "#{{background_4}}",
        "editorGroupHeader.tabsBorder": "#{{background_2}}",
        "editorGroupHeader.border": "#{{background_2}}",
        "editorGroup.emptyBackground": "#{{background_4}}",
        "editorGroup.focusedEmptyBorder": "#{{background_2}}00",
        "editorGroup.dropIntoPromptForeground": "#{{foreground_1}}",
        "editorGroup.dropIntoPromptBackground": "#{{background_3}}",
        "editorGroup.dropIntoPromptBorder": "#{{background_3}}00",
        "tab.activeBackground": "#{{background_4}}",
        "tab.unfocusedActiveBackground": "#{{background_4}}",
        "tab.activeForeground": "#{{purple_1}}",
        "tab.border": "#{{background_4}}",
        "tab.activeBorder": "#{{background_2}}00",
        "tab.dragAndDropBorder": "#{{background_1}}",
        "tab.unfocusedActiveBorder": "#{{background_2}}00",
        "tab.activeBorderTop": "#{{background_2}}00",
        "tab.unfocusedActiveBorderTop": "#{{background_2}}00",
        "tab.lastPinnedBorder": "#{{background_2}}",
        "tab.inactiveBackground": "#{{background_4}}",
        "tab.unfocusedInactiveBackground": "#{{background_4}}",
        "tab.inactiveForeground": "#{{foreground_2}}",
        "tab.unfocusedActiveForeground": "#{{purple_1}}",
        "tab.unfocusedInactiveForeground": "#{{foreground_3}}",
        "tab.hoverBackground": "#{{background_3}}",
        "tab.unfocusedHoverBackground": "#{{background_3}}",
        "tab.hoverForeground": "#{{foreground_1}}",
        "tab.unfocusedHoverForeground": "#{{foreground_1}}",
        "tab.hoverBorder": "#{{background_3}}00",
        "tab.unfocusedHoverBorder": "#{{background_3}}00",
        "tab.activeModifiedBorder": "#{{background_3}}00",
        "tab.inactiveModifiedBorder": "#{{background_3}}00",
        "tab.unfocusedActiveModifiedBorder": "#{{background_3}}00",
        "tab.unfocusedInactiveModifiedBorder": "#{{background_3}}00",
        "editorPane.background": "#{{background_4}}",
        "sideBySideEditor.horizontalBorder": "#{{background_3}}",
        "sideBySideEditor.verticalBorder": "#{{background_3}}",
        "editor.background": "#{{background_4}}",
        "editor.foreground": "#{{foreground_1}}",
        "editorLineNumber.foreground": "#{{background_1}}",
        "editorLineNumber.activeForeground": "#{{purple_1}}",
        "editorLineNumber.dimmedForeground": "#{{background_2}}",
        "editorCursor.background": "#{{background_3}}",
        "editorCursor.foreground": "#{{purple_1}}",
        "editor.selectionBackground": "#{{background_1}}",
        "editor.selectionForeground": "#{{foreground_1}}",
        "editor.inactiveSelectionBackground": "#{{background_1}}85",
        "editor.selectionHighlightBackground": "#{{background_1}}85",
        "editor.selectionHighlightBorder": "#{{background_1}}00",
        "editor.wordHighlightBackground": "#{{background_1}}80",
        "editor.wordHighlightBorder": "#{{purple_1}}00",
        "editor.wordHighlightStrongBackground": "#{{background_1}}D0",
        "editor.wordHighlightStrongBorder": "#{{purple_2}}00",
        "editor.wordHighlightTextBackground": "#{{background_1}}D0",
        "editor.wordHighlightTextBorder": "#{{background_1}}",
        "editor.findMatchBackground": "#{{background_4}}00",
        "editor.findMatchHighlightBackground": "#{{background_4}}00",
        "editor.findRangeHighlightBackground": "#{{background_4}}00",
        "editor.findMatchBorder": "#{{purple_1}}",
        "editor.findMatchHighlightBorder": "#{{foreground_2}}",
        "editor.findRangeHighlightBorder": "#{{foreground_2}}C0",
        "search.resultsInfoForeground": "#{{foreground_3}}",
        "searchEditor.findMatchBackground": "#{{background_4}}",
        "searchEditor.findMatchBorder": "#{{purple_1}}",
        "searchEditor.textInputBorder": "#{{background_2}}",
        "editor.hoverHighlightBackground": "#{{background_1}}D0",
        "editor.lineHighlightBackground": "#{{background_3}}",
        "editor.lineHighlightBorder": "#{{background_3}}00",
        "editorWatermark.foreground": "#{{foreground_1}}",
        "editorUnicodeHighlight.border": "#{{purple_1}}",
        "editorUnicodeHighlight.background": "#{{background_4}}",
        "editorLink.activeForeground": "#{{purple_1}}",
        "editor.rangeHighlightBackground": "#{{background_1}}D0",
        "editor.rangeHighlightBorder": "#{{background_1}}00",
        "editor.symbolHighlightBackground": "#{{background_1}}D0",
        "editor.symbolHighlightBorder": "#{{background_1}}00",
        "editorWhitespace.foreground": "#{{background_1}}",
        "editorIndentGuide.background1": "#{{background_2}}",
        "editorIndentGuide.background2": "#{{background_2}}",
        "editorIndentGuide.background3": "#{{background_2}}",
        "editorIndentGuide.background4": "#{{background_2}}",
        "editorIndentGuide.background5": "#{{background_2}}",
        "editorIndentGuide.background6": "#{{background_2}}",
        "editorIndentGuide.activeBackground1": "#{{background_1}}",
        "editorIndentGuide.activeBackground2": "#{{background_1}}",
        "editorIndentGuide.activeBackground3": "#{{background_1}}",
        "editorIndentGuide.activeBackground4": "#{{background_1}}",
        "editorIndentGuide.activeBackground5": "#{{background_1}}",
        "editorIndentGuide.activeBackground6": "#{{background_1}}",
        "editorInlayHint.background": "#{{background_4}}00",
        "editorInlayHint.foreground": "#{{background_1}}",
        "editorInlayHint.typeForeground": "#{{background_1}}",
        "editorInlayHint.typeBackground": "#{{background_4}}00",
        "editorInlayHint.parameterForeground": "#{{background_1}}",
        "editorInlayHint.parameterBackground": "#{{background_4}}00",
        "editorRuler.foreground": "#{{background_3}}",
        "editor.linkedEditingBackground": "#{{background_2}}",
        "editorCodeLens.foreground": "#{{foreground_3}}",
        "editorLightBulb.foreground": "#{{purple_1}}",
        "editorLightBulbAutoFix.foreground": "#{{purple_1}}",
        "editorLightBulbAi.foreground": "#{{purple_1}}",
        "editorBracketMatch.background": "#{{background_1}}",
        "editorBracketMatch.border": "#{{background_1}}00",
        "editorBracketHighlight.foreground1": "#{{purple_1}}",
        "editorBracketHighlight.foreground2": "#{{purple_1}}",
        "editorBracketHighlight.foreground3": "#{{purple_1}}",
        "editorBracketHighlight.foreground4": "#{{purple_1}}",
        "editorBracketHighlight.foreground5": "#{{purple_1}}",
        "editorBracketHighlight.foreground6": "#{{purple_1}}",
        "editorBracketHighlight.unexpectedBracket.foreground": "#{{red_2}}",
        "editorBracketPairGuide.background1": "#{{background_2}}",
        "editorBracketPairGuide.background2": "#{{background_2}}",
        "editorBracketPairGuide.background3": "#{{background_2}}",
        "editorBracketPairGuide.background4": "#{{background_2}}",
        "editorBracketPairGuide.background5": "#{{background_2}}",
        "editorBracketPairGuide.background6": "#{{background_2}}",
        "editorBracketPairGuide.activeBackground1": "#{{background_1}}",
        "editorBracketPairGuide.activeBackground2": "#{{background_1}}",
        "editorBracketPairGuide.activeBackground3": "#{{background_1}}",
        "editorBracketPairGuide.activeBackground4": "#{{background_1}}",
        "editorBracketPairGuide.activeBackground5": "#{{background_1}}",
        "editorBracketPairGuide.activeBackground6": "#{{background_1}}",
        "editor.foldBackground": "#{{background_3}}90",
        "editorOverviewRuler.background": "#{{background_4}}",
        "editorOverviewRuler.border": "#{{background_2}}",
        "editorOverviewRuler.findMatchForeground": "#{{purple_1}}D0",
        "editorOverviewRuler.rangeHighlightForeground": "#{{foreground_2}}D0",
        "editorOverviewRuler.selectionHighlightForeground": "#{{purple_1}}E0",
        "editorOverviewRuler.wordHighlightForeground": "#{{purple_1}}D0",
        "editorOverviewRuler.wordHighlightStrongForeground": "#{{purple_1}}D0",
        "editorOverviewRuler.wordHighlightTextForeground": "#{{purple_1}}D0",
        "editorOverviewRuler.modifiedForeground": "#{{purple_2}}",
        "editorOverviewRuler.addedForeground": "#{{purple_1}}",
        "editorOverviewRuler.deletedForeground": "#{{green_1}}",
        "editorOverviewRuler.errorForeground": "#{{red_2}}",
        "editorOverviewRuler.warningForeground": "#{{foreground_2}}",
        "editorOverviewRuler.infoForeground": "#{{purple_1}}",
        "editorOverviewRuler.bracketMatchForeground": "#{{foreground_2}}",
        "editorOverviewRuler.inlineChatInserted": "#{{purple_1}}",
        "editorOverviewRuler.inlineChatRemoved": "#{{green_1}}",
        "editorError.foreground": "#{{red_2}}",
        "editorError.border": "#{{red_2}}00",
        "editorError.background": "#{{red_2}}00",
        "editorWarning.foreground": "#{{foreground_2}}",
        "editorWarning.border": "#{{foreground_2}}00",
        "editorWarning.background": "#{{foreground_2}}00",
        "editorInfo.foreground": "#{{purple_1}}",
        "editorInfo.border": "#{{purple_1}}00",
        "editorInfo.background": "#{{purple_1}}00",
        "editorHint.foreground": "#{{purple_1}}",
        "editorHint.border": "#{{purple_1}}00",
        "problemsErrorIcon.foreground": "#{{red_2}}",
        "problemsWarningIcon.foreground": "#{{foreground_2}}",
        "problemsInfoIcon.foreground": "#{{purple_1}}",
        "editorUnnecessaryCode.border": "#{{foreground_3}}00",
        "editorUnnecessaryCode.opacity": "#000000C0",
        "editorGutter.background": "#{{background_4}}",
        "editorGutter.modifiedBackground": "#{{purple_1}}",
        "editorGutter.addedBackground": "#{{purple_1}}",
        "editorGutter.deletedBackground": "#{{green_1}}",
        "editorGutter.commentRangeForeground": "#{{purple_1}}",
        "editorGutter.commentGlyphForeground": "#{{purple_1}}",
        "editorGutter.commentUnresolvedGlyphForeground": "#{{green_1}}",
        "editorGutter.foldingControlForeground": "#{{purple_1}}",
        "editorCommentsWidget.resolvedBorder": "#{{background_4}}00",
        "editorCommentsWidget.unresolvedBorder": "#{{background_4}}00",
        "editorCommentsWidget.rangeBackground": "#{{background_3}}",
        "editorCommentsWidget.rangeActiveBackground": "#{{background_2}}",
        "editorCommentsWidget.replyInputBackground": "#{{background_4}}",
        "diffEditor.insertedTextBackground": "#{{purple_1}}20",
        "diffEditor.insertedTextBorder": "#{{purple_1}}00",
        "diffEditor.removedTextBackground": "#{{red_2}}20",
        "diffEditor.removedTextBorder": "#{{red_2}}00",
        "diffEditor.border": "#{{background_2}}",
        "diffEditor.diagonalFill": "#{{background_1}}",
        "diffEditor.insertedLineBackground": "#{{purple_1}}20",
        "diffEditor.removedLineBackground": "#{{red_2}}20",
        "diffEditorGutter.insertedLineBackground": "#{{background_4}}",
        "diffEditorGutter.removedLineBackground": "#{{background_4}}",
        "diffEditorOverview.insertedForeground": "#{{foreground_1}}",
        "diffEditorOverview.removedForeground": "#{{foreground_1}}",
        "diffEditor.unchangedRegionBackground": "#{{background_4}}",
        "diffEditor.unchangedRegionForeground": "#{{foreground_1}}",
        "diffEditor.unchangedRegionShadow": "#{{background_4}}00",
        "diffEditor.unchangedCodeBackground": "#{{background_4}}",
        "diffEditor.move.border": "#{{background_2}}",
        "diffEditor.moveActive.border": "#{{purple_1}}",
        "multiDiffEditor.headerBackground": "#{{background_3}}",
        "multiDiffEditor.background": "#{{background_4}}",
        "multiDiffEditor.border": "#{{background_2}}",
        "chat.requestBorder": "#{{background_2}}",
        "chat.requestBackground": "#{{background_4}}",
        "chat.slashCommandBackground": "#{{background_4}}",
        "chat.slashCommandForeground": "#{{purple_1}}",
        "chat.avatarBackground": "#{{background_4}}",
        "chat.avatarForeground": "#{{purple_1}}",
        "inlineChat.background": "#{{background_3}}",
        "inlineChat.border": "#{{background_4}}00",
        "inlineChat.shadow": "#{{background_4}}00",
        "inlineChat.regionHighlight": "#{{purple_1}}50",
        "inlineChatInput.border": "#{{background_1}}",
        "inlineChatInput.focusBorder": "#{{background_1}}",
        "inlineChatInput.placeholderForeground": "#{{foreground_3}}",
        "inlineChatInput.background": "#{{background_4}}",
        "inlineChatDiff.inserted": "#{{purple_1}}20",
        "inlineChatDiff.removed": "#{{red_2}}20",
        "interactive.activeCodeBorder": "#{{purple_1}}",
        "interactive.inactiveCodeBorder": "#{{foreground_3}}",
        "editorWidget.foreground": "#{{foreground_1}}",
        "editorWidget.background": "#{{background_3}}",
        "editorWidget.border": "#{{background_3}}00",
        "editorWidget.resizeBorder": "#{{background_3}}",
        "editorSuggestWidget.background": "#{{background_3}}",
        "editorSuggestWidget.border": "#{{background_3}}00",
        "editorSuggestWidget.foreground": "#{{foreground_1}}",
        "editorSuggestWidget.focusHighlightForeground": "#{{purple_1}}",
        "editorSuggestWidget.highlightForeground": "#{{purple_1}}",
        "editorSuggestWidget.selectedBackground": "#{{background_2}}",
        "editorSuggestWidget.selectedForeground": "#{{purple_1}}",
        "editorSuggestWidget.selectedIconForeground": "#{{purple_1}}",
        "editorSuggestWidgetStatus.foreground": "#{{foreground_2}}",
        "editorHoverWidget.foreground": "#{{foreground_1}}",
        "editorHoverWidget.background": "#{{background_3}}",
        "editorHoverWidget.border": "#{{background_3}}00",
        "editorHoverWidget.highlightForeground": "#{{purple_1}}",
        "editorHoverWidget.statusBarBackground": "#{{background_3}}",
        "editorGhostText.border": "#{{background_4}}00",
        "editorGhostText.background": "#{{background_4}}",
        "editorGhostText.foreground": "#{{background_1}}",
        "editorStickyScroll.background": "#{{background_4}}",
        "editorStickyScroll.border": "#{{background_2}}",
        "editorStickyScroll.shadow": "#{{background_4}}00",
        "editorStickyScrollHover.background": "#{{background_3}}",
        "debugExceptionWidget.background": "#{{background_3}}",
        "debugExceptionWidget.border": "#{{background_3}}00",
        "editorMarkerNavigation.background": "#{{background_4}}",
        "editorMarkerNavigationError.background": "#{{background_2}}",
        "editorMarkerNavigationWarning.background": "#{{background_2}}",
        "editorMarkerNavigationInfo.background": "#{{background_2}}",
        "editorMarkerNavigationError.headerBackground": "#{{background_4}}",
        "editorMarkerNavigationWarning.headerBackground": "#{{background_4}}",
        "editorMarkerNavigationInfo.headerBackground": "#{{background_4}}",
        "peekView.border": "#{{background_2}}",
        "peekViewEditor.background": "#{{background_4}}",
        "peekViewEditorGutter.background": "#{{background_4}}",
        "peekViewEditor.matchHighlightBackground": "#{{background_4}}",
        "peekViewEditor.matchHighlightBorder": "#{{purple_1}}",
        "peekViewEditorStickyScroll.background": "#{{background_4}}",
        "peekViewResult.background": "#{{background_4}}",
        "peekViewResult.fileForeground": "#{{foreground_1}}",
        "peekViewResult.lineForeground": "#{{foreground_1}}",
        "peekViewResult.matchHighlightBackground": "#{{purple_1}}50",
        "peekViewResult.selectionBackground": "#{{background_2}}",
        "peekViewResult.selectionForeground": "#{{foreground_1}}",
        "peekViewTitle.background": "#{{background_4}}",
        "peekViewTitleDescription.foreground": "#{{purple_1}}",
        "peekViewTitleLabel.foreground": "#{{foreground_1}}",
        "merge.currentHeaderBackground": "#{{purple_1}}A0",
        "merge.currentContentBackground": "#{{purple_1}}30",
        "merge.incomingHeaderBackground": "#{{purple_1}}B0",
        "merge.incomingContentBackground": "#{{purple_1}}40",
        "merge.border": "#{{background_2}}",
        "merge.commonContentBackground": "#{{purple_1}}40",
        "merge.commonHeaderBackground": "#{{purple_1}}C0",
        "editorOverviewRuler.currentContentForeground": "#{{purple_1}}",
        "editorOverviewRuler.incomingContentForeground": "#{{purple_1}}",
        "editorOverviewRuler.commonContentForeground": "#{{purple_1}}",
        "editorOverviewRuler.commentForeground": "#{{foreground_1}}",
        "editorOverviewRuler.commentUnresolvedForeground": "#{{green_1}}",
        "mergeEditor.change.background": "#{{purple_1}}",
        "mergeEditor.change.word.background": "#{{purple_1}}",
        "mergeEditor.conflict.unhandledUnfocused.border": "#{{red_2}}",
        "mergeEditor.conflict.unhandledFocused.border": "#{{red_2}}",
        "mergeEditor.conflict.handledUnfocused.border": "#{{purple_1}}",
        "mergeEditor.conflict.handledFocused.border": "#{{purple_1}}",
        "mergeEditor.conflict.handled.minimapOverViewRuler": "#{{purple_1}}",
        "mergeEditor.conflict.unhandled.minimapOverViewRuler": "#{{red_2}}",
        "mergeEditor.conflictingLines.background": "#{{red_2}}",
        "mergeEditor.changeBase.background": "#{{purple_1}}",
        "mergeEditor.changeBase.word.background": "#{{purple_1}}",
        "mergeEditor.conflict.input1.background": "#{{background_2}}",
        "mergeEditor.conflict.input2.background": "#{{background_2}}",
        "panel.background": "#{{background_4}}",
        "panel.border": "#{{background_2}}",
        "panel.dropBorder": "#{{background_2}}",
        "panelTitle.activeBorder": "#{{background_4}}00",
        "panelTitle.activeForeground": "#{{purple_1}}",
        "panelTitle.inactiveForeground": "#{{foreground_2}}",
        "panelInput.border": "#{{background_2}}",
        "panelSection.border": "#{{background_2}}",
        "panelSection.dropBackground": "#{{background_3}}",
        "panelSectionHeader.background": "#{{background_4}}",
        "panelSectionHeader.foreground": "#{{foreground_1}}",
        "panelSectionHeader.border": "#{{background_2}}",
        "outputView.background": "#{{background_4}}",
        "outputViewStickyScroll.background": "#{{background_4}}",
        "statusBar.background": "#{{background_4}}",
        "statusBar.foreground": "#{{foreground_2}}",
        "statusBar.border": "#{{background_2}}",
        "statusBar.debuggingBackground": "#{{background_4}}",
        "statusBar.debuggingForeground": "#{{foreground_2}}",
        "statusBar.debuggingBorder": "#{{background_2}}",
        "statusBar.noFolderBackground": "#{{background_4}}",
        "statusBar.noFolderForeground": "#{{foreground_2}}",
        "statusBar.noFolderBorder": "#{{background_2}}",
        "statusBarItem.activeBackground": "#{{background_4}}",
        "statusBarItem.hoverForeground": "#{{purple_1}}",
        "statusBarItem.hoverBackground": "#{{background_2}}",
        "statusBarItem.prominentForeground": "#{{foreground_1}}",
        "statusBarItem.prominentBackground": "#{{background_4}}",
        "statusBarItem.prominentHoverForeground": "#{{purple_1}}",
        "statusBarItem.prominentHoverBackground": "#{{background_2}}",
        "statusBarItem.remoteBackground": "#{{background_4}}",
        "statusBarItem.remoteForeground": "#{{foreground_2}}",
        "statusBarItem.remoteHoverBackground": "#{{background_2}}",
        "statusBarItem.remoteHoverForeground": "#{{purple_1}}",
        "statusBarItem.errorBackground": "#{{background_4}}",
        "statusBarItem.errorForeground": "#{{green_1}}",
        "statusBarItem.errorHoverBackground": "#{{background_2}}",
        "statusBarItem.errorHoverForeground": "#{{red_2}}",
        "statusBarItem.warningBackground": "#{{background_4}}",
        "statusBarItem.warningForeground": "#{{foreground_2}}",
        "statusBarItem.warningHoverBackground": "#{{background_2}}",
        "statusBarItem.warningHoverForeground": "#{{foreground_2}}",
        "statusBarItem.compactHoverBackground": "#{{background_2}}",
        "statusBarItem.focusBorder": "#{{background_4}}00",
        "statusBar.focusBorder": "#{{background_2}}",
        "statusBarItem.offlineBackground": "#{{background_4}}",
        "statusBarItem.offlineForeground": "#{{foreground_3}}",
        "statusBarItem.offlineHoverBackground": "#{{background_2}}",
        "statusBarItem.offlineHoverForeground": "#{{green_1}}",
        "titleBar.activeForeground": "#{{foreground_2}}",
        "titleBar.inactiveForeground": "#{{foreground_3}}",
        "titleBar.activeBackground": "#{{background_4}}",
        "titleBar.inactiveBackground": "#{{background_4}}",
        "titleBar.border": "#{{background_2}}",
        "menubar.selectionForeground": "#{{purple_1}}",
        "menubar.selectionBackground": "#{{background_3}}",
        "menubar.selectionBorder": "#{{background_3}}00",
        "menu.foreground": "#{{foreground_1}}",
        "menu.background": "#{{background_4}}",
        "menu.selectionForeground": "#{{purple_1}}",
        "menu.selectionBackground": "#{{background_3}}",
        "menu.selectionBorder": "#{{background_3}}00",
        "menu.separatorBackground": "#{{background_2}}00",
        "menu.border": "#{{background_2}}",
        "commandCenter.foreground": "#{{foreground_1}}",
        "commandCenter.activeForeground": "#{{purple_1}}",
        "commandCenter.background": "#{{background_4}}",
        "commandCenter.activeBackground": "#{{background_3}}",
        "commandCenter.border": "#{{background_1}}",
        "commandCenter.inactiveForeground": "#{{foreground_3}}",
        "commandCenter.inactiveBorder": "#{{background_1}}",
        "commandCenter.activeBorder": "#{{background_1}}",
        "commandCenter.debuggingBackground": "#{{background_4}}80",
        "notificationCenter.border": "#{{background_4}}00",
        "notificationCenterHeader.foreground": "#{{foreground_1}}",
        "notificationCenterHeader.background": "#{{background_2}}",
        "notificationToast.border": "#{{background_4}}00",
        "notifications.foreground": "#{{foreground_1}}",
        "notifications.background": "#{{background_2}}",
        "notifications.border": "#{{background_4}}00",
        "notificationLink.foreground": "#{{purple_1}}",
        "notificationsErrorIcon.foreground": "#{{red_2}}",
        "notificationsWarningIcon.foreground": "#{{foreground_2}}",
        "notificationsInfoIcon.foreground": "#{{purple_1}}",
        "banner.background": "#{{background_2}}",
        "banner.foreground": "#{{foreground_1}}",
        "banner.iconForeground": "#{{purple_1}}",
        "extensionButton.prominentBackground": "#{{purple_1}}",
        "extensionButton.prominentForeground": "#{{background_4}}",
        "extensionButton.prominentHoverBackground": "#{{purple_2}}",
        "extensionButton.background": "#{{purple_1}}",
        "extensionButton.foreground": "#{{background_4}}",
        "extensionButton.hoverBackground": "#{{purple_2}}",
        "extensionButton.separator": "#{{background_4}}",
        "extensionBadge.remoteBackground": "#{{purple_1}}",
        "extensionBadge.remoteForeground": "#{{background_4}}",
        "extensionIcon.starForeground": "#{{purple_1}}DF",
        "extensionIcon.verifiedForeground": "#{{purple_1}}DF",
        "extensionIcon.preReleaseForeground": "#{{foreground_2}}EF",
        "extensionIcon.sponsorForeground": "#{{purple_1}}DF",
        "pickerGroup.border": "#{{background_1}}",
        "pickerGroup.foreground": "#{{foreground_2}}",
        "quickInput.background": "#{{background_3}}",
        "quickInput.foreground": "#{{foreground_1}}",
        "quickInputList.focusBackground": "#{{background_2}}",
        "quickInputList.focusForeground": "#{{purple_1}}",
        "quickInputList.focusIconForeground": "#{{purple_1}}",
        "quickInputTitle.background": "#{{foreground_2}}",
        "keybindingLabel.background": "#{{background_1}}",
        "keybindingLabel.foreground": "#{{foreground_1}}",
        "keybindingLabel.border": "#{{background_1}}00",
        "keybindingLabel.bottomBorder": "#{{background_1}}00",
        "keybindingTable.headerBackground": "#{{background_3}}",
        "keybindingTable.rowsBackground": "#{{background_3}}",
        "terminal.background": "#{{background_4}}",
        "terminal.border": "#{{background_2}}",
        "terminal.foreground": "#{{foreground_1}}",
        "terminal.ansiBrightBlack": "#{{foreground_2}}",
        "terminal.ansiBrightBlue": "#{{blue_1}}",
        "terminal.ansiBrightCyan": "#{{green_1}}",
        "terminal.ansiBrightGreen": "#{{green_1}}",
        "terminal.ansiBrightMagenta": "#{{purple_1}}",
        "terminal.ansiBrightRed": "#{{red_1}}",
        "terminal.ansiBrightWhite": "#{{foreground_1}}",
        "terminal.ansiBrightYellow": "#{{yellow_1}}",
        "terminal.ansiBlack": "#{{foreground_3}}",
        "terminal.ansiBlue": "#{{blue_2}}",
        "terminal.ansiCyan": "#{{green_2}}",
        "terminal.ansiGreen": "#{{green_2}}",
        "terminal.ansiMagenta": "#{{purple_2}}",
        "terminal.ansiRed": "#{{red_2}}",
        "terminal.ansiWhite": "#{{foreground_1}}",
        "terminal.ansiYellow": "#{{yellow_2}}",
        "terminal.selectionBackground": "#{{background_2}}",
        "terminal.selectionForeground": "#{{foreground_1}}",
        "terminal.inactiveSelectionBackground": "#{{background_2}}",
        "terminal.findMatchBackground": "#{{background_4}}00",
        "terminal.findMatchBorder": "#{{purple_1}}",
        "terminal.findMatchHighlightBackground": "#{{background_4}}00",
        "terminal.findMatchHighlightBorder": "#{{purple_1}}",
        "terminal.hoverHighlightBackground": "#{{background_4}}00",
        "terminalCursor.background": "#{{background_4}}",
        "terminalCursor.foreground": "#{{purple_1}}",
        "terminal.dropBackground": "#{{background_3}}90",
        "terminal.tab.activeBorder": "#{{background_3}}00",
        "terminalCommandDecoration.defaultBackground": "#{{purple_1}}",
        "terminalCommandDecoration.successBackground": "#{{purple_1}}",
        "terminalCommandDecoration.errorBackground": "#{{red_2}}",
        "terminalOverviewRuler.cursorForeground": "#{{purple_1}}",
        "terminalOverviewRuler.findMatchForeground": "#{{purple_1}}",
        "terminalStickyScroll.background": "#{{background_4}}",
        "terminalStickyScrollHover.background": "#{{background_3}}",
        "debugToolBar.background": "#{{background_2}}",
        "debugToolBar.border": "#{{background_2}}00",
        "editor.stackFrameHighlightBackground": "#{{purple_1}}40",
        "editor.focusedStackFrameHighlightBackground": "#{{purple_1}}60",
        "editor.inlineValuesForeground": "#{{purple_1}}",
        "editor.inlineValuesBackground": "#{{purple_1}}40",
        "debugView.exceptionLabelForeground": "#{{red_2}}",
        "debugView.exceptionLabelBackground": "#{{red_2}}40",
        "debugView.stateLabelForeground": "#{{foreground_2}}",
        "debugView.stateLabelBackground": "#{{foreground_2}}40",
        "debugView.valueChangedHighlight": "#{{purple_1}}40",
        "debugTokenExpression.name": "#{{purple_2}}",
        "debugTokenExpression.value": "#{{purple_1}}",
        "debugTokenExpression.string": "#{{green_1}}",
        "debugTokenExpression.boolean": "#{{purple_1}}",
        "debugTokenExpression.number": "#{{purple_1}}",
        "debugTokenExpression.error": "#{{red_2}}",
        "testing.iconFailed": "#{{red_2}}",
        "testing.iconErrored": "#{{green_1}}",
        "testing.iconPassed": "#{{purple_1}}",
        "testing.runAction": "#{{purple_1}}",
        "testing.iconQueued": "#{{purple_1}}",
        "testing.iconUnset": "#{{purple_1}}",
        "testing.iconSkipped": "#{{purple_1}}",
        "testing.peekBorder": "#{{background_3}}",
        "testing.peekHeaderBackground": "#{{purple_1}}",
        "testing.message.error.decorationForeground": "#{{red_2}}",
        "testing.message.error.lineBackground": "#{{red_2}}",
        "testing.message.info.decorationForeground": "#{{purple_1}}",
        "testing.message.info.lineBackground": "#{{purple_1}}",
        "testing.messagePeekBorder": "#{{background_2}}",
        "testing.messagePeekHeaderBackground": "#{{background_4}}",
        "testing.coveredBackground": "#{{purple_1}}20",
        "testing.coveredBorder": "#{{background_4}}00",
        "testing.coveredGutterBackground": "#{{background_4}}",
        "testing.uncoveredBranchBackground": "#{{background_4}}",
        "testing.uncoveredBackground": "#{{red_2}}20",
        "testing.uncoveredBorder": "#{{background_4}}00",
        "testing.uncoveredGutterBackground": "#{{background_4}}",
        "testing.coverCountBadgeBackground": "#{{purple_1}}",
        "testing.coverCountBadgeForeground": "#{{background_4}}",
        "welcomePage.background": "#{{background_4}}",
        "welcomePage.progress.background": "#{{background_2}}",
        "welcomePage.progress.foreground": "#{{purple_1}}",
        "welcomePage.tileBackground": "#{{background_3}}",
        "welcomePage.tileHoverBackground": "#{{background_2}}",
        "welcomePage.tileBorder": "#{{background_3}}00",
        "walkThrough.embeddedEditorBackground": "#{{background_4}}",
        "walkthrough.stepTitle.foreground": "#{{foreground_1}}",
        "gitDecoration.addedResourceForeground": "#{{purple_1}}",
        "gitDecoration.modifiedResourceForeground": "#{{purple_2}}",
        "gitDecoration.deletedResourceForeground": "#{{green_1}}",
        "gitDecoration.renamedResourceForeground": "#{{purple_1}}",
        "gitDecoration.stageModifiedResourceForeground": "#{{purple_1}}",
        "gitDecoration.stageDeletedResourceForeground": "#{{green_1}}",
        "gitDecoration.untrackedResourceForeground": "#{{foreground_2}}",
        "gitDecoration.ignoredResourceForeground": "#{{foreground_3}}",
        "gitDecoration.conflictingResourceForeground": "#{{green_1}}",
        "gitDecoration.submoduleResourceForeground": "#{{purple_2}}",
        "settings.headerForeground": "#{{foreground_1}}",
        "settings.modifiedItemIndicator": "#{{purple_1}}",
        "settings.dropdownBackground": "#{{background_4}}",
        "settings.dropdownForeground": "#{{foreground_1}}",
        "settings.dropdownBorder": "#{{background_2}}",
        "settings.dropdownListBorder": "#{{background_2}}",
        "settings.checkboxBackground": "#{{background_4}}",
        "settings.checkboxForeground": "#{{purple_1}}",
        "settings.checkboxBorder": "#{{background_2}}",
        "settings.rowHoverBackground": "#{{background_3}}",
        "settings.textInputBackground": "#{{background_4}}",
        "settings.textInputForeground": "#{{foreground_1}}",
        "settings.textInputBorder": "#{{background_2}}",
        "settings.numberInputBackground": "#{{background_4}}",
        "settings.numberInputForeground": "#{{purple_1}}",
        "settings.numberInputBorder": "#{{background_2}}",
        "settings.focusedRowBackground": "#{{background_4}}",
        "settings.focusedRowBorder": "#{{background_3}}",
        "settings.headerBorder": "#{{background_2}}00",
        "settings.sashBorder": "#{{background_2}}",
        "settings.settingsHeaderHoverForeground": "#{{purple_1}}",
        "breadcrumb.foreground": "#{{foreground_3}}",
        "breadcrumb.background": "#{{background_4}}",
        "breadcrumb.focusForeground": "#{{purple_1}}",
        "breadcrumb.activeSelectionForeground": "#{{purple_1}}",
        "breadcrumbPicker.background": "#{{background_3}}",
        "editor.snippetTabstopHighlightBackground": "#{{background_4}}",
        "editor.snippetTabstopHighlightBorder": "#{{purple_1}}",
        "editor.snippetFinalTabstopHighlightBackground": "#{{background_4}}",
        "editor.snippetFinalTabstopHighlightBorder": "#{{purple_1}}",
        "symbolIcon.arrayForeground": "#{{foreground_1}}",
        "symbolIcon.booleanForeground": "#{{purple_1}}",
        "symbolIcon.classForeground": "#{{purple_1}}",
        "symbolIcon.colorForeground": "#{{foreground_1}}",
        "symbolIcon.constantForeground": "#{{foreground_1}}",
        "symbolIcon.constructorForeground": "#{{purple_1}}",
        "symbolIcon.enumeratorForeground": "#{{purple_1}}",
        "symbolIcon.enumeratorMemberForeground": "#{{purple_1}}",
        "symbolIcon.eventForeground": "#{{foreground_1}}",
        "symbolIcon.fieldForeground": "#{{foreground_1}}",
        "symbolIcon.fileForeground": "#{{foreground_1}}",
        "symbolIcon.folderForeground": "#{{foreground_1}}",
        "symbolIcon.functionForeground": "#{{purple_2}}",
        "symbolIcon.interfaceForeground": "#{{purple_1}}",
        "symbolIcon.keyForeground": "#{{foreground_1}}",
        "symbolIcon.keywordForeground": "#{{purple_1}}",
        "symbolIcon.methodForeground": "#{{purple_2}}",
        "symbolIcon.moduleForeground": "#{{purple_1}}",
        "symbolIcon.namespaceForeground": "#{{purple_1}}",
        "symbolIcon.nullForeground": "#{{purple_1}}",
        "symbolIcon.numberForeground": "#{{purple_1}}",
        "symbolIcon.objectForeground": "#{{purple_1}}",
        "symbolIcon.operatorForeground": "#{{foreground_2}}",
        "symbolIcon.packageForeground": "#{{purple_1}}",
        "symbolIcon.propertyForeground": "#{{foreground_1}}",
        "symbolIcon.referenceForeground": "#{{foreground_1}}",
        "symbolIcon.snippetForeground": "#{{foreground_1}}",
        "symbolIcon.stringForeground": "#{{green_1}}",
        "symbolIcon.structForeground": "#{{purple_1}}",
        "symbolIcon.textForeground": "#{{foreground_1}}",
        "symbolIcon.typeParameterForeground": "#{{purple_1}}",
        "symbolIcon.unitForeground": "#{{foreground_1}}",
        "symbolIcon.variableForeground": "#{{foreground_1}}",
        "debugIcon.breakpointForeground": "#{{red_2}}",
        "debugIcon.breakpointDisabledForeground": "#{{foreground_2}}",
        "debugIcon.breakpointUnverifiedForeground": "#{{foreground_2}}",
        "debugIcon.breakpointCurrentStackframeForeground": "#{{purple_2}}",
        "debugIcon.breakpointStackframeForeground": "#{{purple_1}}",
        "debugIcon.startForeground": "#{{purple_1}}",
        "debugIcon.pauseForeground": "#{{purple_1}}",
        "debugIcon.stopForeground": "#{{red_2}}",
        "debugIcon.disconnectForeground": "#{{green_1}}",
        "debugIcon.restartForeground": "#{{purple_1}}",
        "debugIcon.stepOverForeground": "#{{purple_1}}",
        "debugIcon.stepIntoForeground": "#{{purple_1}}",
        "debugIcon.stepOutForeground": "#{{purple_1}}",
        "debugIcon.continueForeground": "#{{purple_1}}",
        "debugIcon.stepBackForeground": "#{{purple_1}}",
        "debugConsole.infoForeground": "#{{purple_1}}",
        "debugConsole.warningForeground": "#{{foreground_2}}",
        "debugConsole.errorForeground": "#{{red_2}}",
        "debugConsole.sourceForeground": "#{{foreground_1}}",
        "debugConsoleInputIcon.foreground": "#{{purple_1}}",
        "notebook.editorBackground": "#{{background_4}}",
        "notebook.cellBorderColor": "#{{background_2}}",
        "notebook.cellHoverBackground": "#{{background_4}}00",
        "notebook.cellInsertionIndicator": "#{{background_2}}",
        "notebook.cellStatusBarItemHoverBackground": "#{{background_2}}",
        "notebook.cellToolbarSeparator": "#{{background_1}}",
        "notebook.cellEditorBackground": "#{{background_4}}",
        "notebook.focusedCellBackground": "#{{background_4}}",
        "notebook.focusedCellBorder": "#{{purple_1}}",
        "notebook.focusedEditorBorder": "#{{background_2}}",
        "notebook.inactiveFocusedCellBorder": "#{{purple_1}}",
        "notebook.inactiveSelectedCellBorder": "#{{purple_1}}",
        "notebook.outputContainerBackgroundColor": "#{{background_4}}",
        "notebook.outputContainerBorderColor": "#{{background_4}}00",
        "notebook.selectedCellBackground": "#{{background_4}}",
        "notebook.selectedCellBorder": "#{{background_2}}",
        "notebook.symbolHighlightBackground": "#{{background_4}}",
        "notebookScrollbarSlider.activeBackground": "#{{background_2}}",
        "notebookScrollbarSlider.background": "#{{background_3}}",
        "notebookScrollbarSlider.hoverBackground": "#{{background_2}}",
        "notebookStatusErrorIcon.foreground": "#{{red_2}}",
        "notebookStatusRunningIcon.foreground": "#{{blue_2}}",
        "notebookStatusSuccessIcon.foreground": "#{{green_2}}",
        "notebookEditorOverviewRuler.runningCellForeground": "#{{blue_2}}",
        "charts.foreground": "#{{foreground_1}}",
        "charts.lines": "#{{foreground_2}}",
        "charts.red": "#{{red_2}}",
        "charts.blue": "#{{blue_2}}",
        "charts.yellow": "#{{yellow_2}}",
        "charts.orange": "#{{yellow_2}}",
        "charts.green": "#{{green_2}}",
        "charts.purple": "#{{purple_2}}",
        "ports.iconRunningProcessForeground": "#{{purple_1}}",
        "commentsView.resolvedIcon": "#{{purple_1}}",
        "commentsView.unresolvedIcon": "#{{green_1}}",
        "actionBar.toggledBackground": "#{{background_4}}",
        "simpleFindWidget.sashBorder": "#{{background_3}}00",
        "scm.historyItemAdditionsForeground": "#{{purple_1}}",
        "scm.historyItemDeletionsForeground": "#{{green_1}}",
        "scm.historyItemStatisticsBorder": "#{{background_3}}00",
        "scm.historyItemSelectedStatisticsBorder": "#{{background_3}}00",
        "errorLens.errorBackground": "#{{red_2}}20",
        "errorLens.errorForeground": "#{{red_2}}",
        "errorLens.errorMessageBackground": "#{{red_2}}20",
        "errorLens.errorRangeBackground": "#{{red_2}}20",
        "errorLens.warningBackground": "#{{yellow_2}}20",
        "errorLens.warningForeground": "#{{yellow_2}}",
        "errorLens.warningMessageBackground": "#{{yellow_2}}20",
        "errorLens.warningRangeBackground": "#{{yellow_2}}20",
        "errorLens.infoBackground": "#{{blue_2}}20",
        "errorLens.infoForeground": "#{{blue_2}}",
        "errorLens.infoMessageBackground": "#{{blue_2}}20",
        "errorLens.infoRangeBackground": "#{{blue_2}}20",
        "errorLens.hintBackground": "#{{purple_2}}20",
        "errorLens.hintForeground": "#{{purple_2}}",
        "errorLens.hintMessageBackground": "#{{purple_2}}20",
        "errorLens.hintRangeBackground": "#{{purple_2}}20",
        "errorLens.statusBarErrorForeground": "#{{red_2}}",
        "errorLens.statusBarWarningForeground": "#{{yellow_2}}",
        "errorLens.statusBarInfoForeground": "#{{blue_2}}",
        "errorLens.statusBarHintForeground": "#{{purple_2}}",
        "errorLens.statusBarIconErrorForeground": "#{{red_2}}",
        "errorLens.statusBarIconWarningForeground": "#{{yellow_2}}"
    },
    "semanticHighlighting": true,
    "semanticTokenColors": {
        "namespace": {
            "foreground": "#{{colour_2}}",
            "fontStyle": ""
        },
        "module": {
            "foreground": "#{{colour_2}}",
            "fontStyle": ""
        },
        "class": {
            "foreground": "#{{colour_1}}",
            "fontStyle": ""
        },
        "enum": {
            "foreground": "#{{colour_1}}",
            "fontStyle": ""
        },
        "interface": {
            "foreground": "#{{colour_1}}",
            "fontStyle": ""
        },
        "struct": {
            "foreground": "#{{colour_1}}",
            "fontStyle": ""
        },
        "typeParameter": {
            "foreground": "#{{colour_1}}",
            "fontStyle": ""
        },
        "type": {
            "foreground": "#{{colour_1}}",
            "fontStyle": ""
        },
        "parameter": {
            "foreground": "#{{colour_2}}",
            "fontStyle": ""
        },
        "variable": {
            "foreground": "#{{colour_2}}",
            "fontStyle": ""
        },
        "property": {
            "foreground": "#{{colour_2}}",
            "fontStyle": ""
        },
        "enumMember": {
            "foreground": "#{{colour_1}}",
            "fontStyle": ""
        },
        "decorator": {
            "foreground": "#{{colour_1}}",
            "fontStyle": ""
        },
        "event": {
            "foreground": "#{{colour_1}}",
            "fontStyle": ""
        },
        "function": {
            "foreground": "#{{colour_1}}",
            "fontStyle": "bold italic"
        },
        "method": {
            "foreground": "#{{colour_1}}",
            "fontStyle": "bold italic"
        },
        "macro": {
            "foreground": "#{{colour_1}}",
            "fontStyle": "bold"
        },
        "macro:rust": {
            "foreground": "#{{colour_1}}",
            "fontStyle": "bold italic"
        },
        "label": {
            "foreground": "#{{red_2}}",
            "fontStyle": ""
        },
        "comment": {
            "foreground": "#{{foreground_3}}",
            "fontStyle": "italic"
        },
        "string": {
            "foreground": "#{{red_1}}",
            "fontStyle": ""
        },
        "escapeSequence": {
            "foreground": "#{{red_2}}",
            "fontStyle": ""
        },
        "keyword": {
            "foreground": "#{{red_2}}",
            "fontStyle": ""
        },
        "modifier": {
            "foreground": "#{{red_2}}",
            "fontStyle": ""
        },
        "number": {
            "foreground": "#{{purple_1}}",
            "fontStyle": ""
        },
        "regexp": {
            "foreground": "#{{colour_1}}",
            "fontStyle": ""
        },
        "operator": {
            "foreground": "#{{red_2}}",
            "fontStyle": ""
        },
        "builtinConstant": {
            "foreground": "#{{purple_1}}",
            "fontStyle": ""
        },
        "selfParameter": {
            "foreground": "#{{colour_2}}",
            "fontStyle": ""
        },
        "*.decorator": {
            "fontStyle": "italic"
        },
        "function.decorator": {
            "fontStyle": "bold italic"
        }
    },
    "tokenColors": [
        {
            "name": "Default Source",
            "scope": [
                "text",
                "source"
            ],
            "settings": {
                "foreground": "#{{colour_2}}",
                "fontStyle": ""
            }
        },
        {
            "name": "Alternate Source",
            "scope": [
                "source.zig",
                "source.lua",
                "source.asp"
            ],
            "settings": {
                "foreground": "#{{foreground_3}}",
                "fontStyle": ""
            }
        },
        {
            "name": "Default Variable",
            "scope": [
                "variable",
                "variable.other",
                "variable.parameter",
                "support.variable",
                "meta.interpolation",
                "meta.attribute",
                "meta.function-call.arguments",
                "entity.other.attribute"
            ],
            "settings": {
                "foreground": "#{{colour_2}}",
                "fontStyle": ""
            }
        },
        {
            "name": "Default Macro",
            "scope": [
                "entity.name.function.macro"
            ],
            "settings": {
                "foreground": "#{{colour_1}}",
                "fontStyle": "bold"
            }
        },
        {
            "name": "Default Punctuation",
            "scope": [
                "punctuation",
                "punctuation.definition",
                "punctuation.section",
                "punctuation.section.parameters",
                "punctuation.section.block",
                "punctuation.support",
                "punctuation.separator",
                "punctuation.terminator",
                "punctuation.accessor",
                "meta.brace",
                "meta.directive",
                "meta.expression"
            ],
            "settings": {
                "foreground": "#{{foreground_3}}",
                "fontStyle": ""
            }
        },
        {
            "name": "Default Directive",
            "scope": [
                "punctuation.definition.directive"
            ],
            "settings": {
                "foreground": "#{{foreground_3}}",
                "fontStyle": ""
            }
        },
        {
            "name": "Default Decorator",
            "scope": [
                "punctuation.definition.decorator"
            ],
            "settings": {
                "foreground": "#{{foreground_3}}",
                "fontStyle": "italic"
            }
        },
        {
            "name": "Default Comment",
            "scope": [
                "comment",
                "comment.line",
                "comment.block",
                "punctuation.definition.comment"
            ],
            "settings": {
                "foreground": "#{{foreground_3}}",
                "fontStyle": "italic"
            }
        },
        {
            "name": "Default String",
            "scope": [
                "string",
                "string.quoted.single",
                "string.quoted.double",
                "string.quoted.triple",
                "string.interpolated"
            ],
            "settings": {
                "foreground": "#{{red_1}}",
                "fontStyle": ""
            }
        },
        {
            "name": "Default Specifier",
            "scope": [
                "storage.type.string",
                "constant.character.format",
                "constant.other.placeholder",
                "punctuation.definition.interpolation"
            ],
            "settings": {
                "foreground": "#{{red_2}}",
                "fontStyle": ""
            }
        },
        {
            "name": "Default Escape",
            "scope": [
                "constant.character.escape"
            ],
            "settings": {
                "foreground": "#{{red_2}}",
                "fontStyle": ""
            }
        },
        {
            "name": "Default Keyword",
            "scope": [
                "keyword",
                "keyword.control",
                "keyword.other"
            ],
            "settings": {
                "foreground": "#{{red_2}}",
                "fontStyle": ""
            }
        },
        {
            "name": "Default Operator",
            "scope": [
                "keyword.operator"
            ],
            "settings": {
                "foreground": "#{{red_2}}",
                "fontStyle": ""
            }
        },
        {
            "name": "Default Codetag",
            "scope": [
                "keyword.codetag"
            ],
            "settings": {
                "foreground": "#{{red_2}}",
                "fontStyle": "italic"
            }
        },
        {
            "name": "Default Storage Type",
            "scope": [
                "storage.type",
                "storage.type.class",
                "storage.type.function"
            ],
            "settings": {
                "foreground": "#{{red_2}}",
                "fontStyle": ""
            }
        },
        {
            "name": "Default Primitive",
            "scope": [
                "storage.type.primitive",
                "storage.type.built-in.primitive"
            ],
            "settings": {
                "foreground": "#{{red_2}}",
                "fontStyle": ""
            }
        },
        {
            "name": "Default Placeholder",
            "scope": [
                "storage.type.format",
                "constant.other.placeholder"
            ],
            "settings": {
                "foreground": "#{{red_2}}",
                "fontStyle": ""
            }
        },
        {
            "name": "Default Storage Modifier",
            "scope": [
                "storage.modifier",
                "storage.modifier.declaration"
            ],
            "settings": {
                "foreground": "#{{red_2}}",
                "fontStyle": ""
            }
        },
        {
            "name": "Default Storage Array Modifier",
            "scope": [
                "storage.modifier.array"
            ],
            "settings": {
                "foreground": "#{{foreground_3}}",
                "fontStyle": ""
            }
        },
        {
            "name": "Default Support Type",
            "scope": [
                "support.type"
            ],
            "settings": {
                "foreground": "#{{red_2}}",
                "fontStyle": ""
            }
        },
        {
            "name": "Default Constant",
            "scope": [
                "constant",
                "constant.language",
                "constant.other",
                "constant.numeric",
                "support.constant"
            ],
            "settings": {
                "foreground": "#{{purple_1}}",
                "fontStyle": ""
            }
        },
        {
            "name": "Default Type",
            "scope": [
                "entity",
                "entity.other",
                "entity.name",
                "entity.name.type",
                "entity.name.class",
                "entity.name.struct"
            ],
            "settings": {
                "foreground": "#{{colour_1}}",
                "fontStyle": ""
            }
        },
        {
            "name": "Default Type",
            "scope": [
                "entity.name.import"
            ],
            "settings": {
                "foreground": "#{{colour_2}}",
                "fontStyle": ""
            }
        },
        {
            "name": "Default Function",
            "scope": [
                "meta.function",
                "meta.function-call",
                "entity.name.function",
                "entity.name.function.macro",
                "support.function"
            ],
            "settings": {
                "foreground": "#{{colour_1}}",
                "fontStyle": "bold italic"
            }
        },
        {
            "name": "Default Module",
            "scope": [
                "entity.name.type.class.module"
            ],
            "settings": {
                "foreground": "#{{colour_2}}",
                "fontStyle": ""
            }
        },
        {
            "name": "Default Namespace",
            "scope": [
                "entity.name.namespace"
            ],
            "settings": {
                "foreground": "#{{colour_2}}",
                "fontStyle": ""
            }
        },
        {
            "name": "Default Tag",
            "scope": [
                "entity.name.tag"
            ],
            "settings": {
                "foreground": "#{{red_2}}",
                "fontStyle": ""
            }
        }
    ]
}
